<div class="well">

  <% if defined?(@errors) && @errors.present? %>
    <div class="alert alert-error">
      <p><%= @errors %></p>
    </div>
  <% end %>

<%= form_for @material_link, html: {id: 'material-form', class: "no-top-margin"}, remote: true do |f| %>
  <p>
    <%= f.label :description, "Description of material" %>
    <%= f.text_field :description, class: "input-xxlarge" %>
  </p>
  
  <p class="input-with-description">
    <%= f.label :reference_link, "Link to material" %>
    <%= f.text_field :reference_link, class: "input-xxlarge" %>
    <span class="help-block">A URL linking to event material, such as slides, handouts, videos, etc.</span>
  </p>
  
  <%= f.hidden_field :event_id, value: @event.id %>
  
  <% if @material_link.persisted? %>
    <%= f.submit "Update Material Link", disable_with: 'Saving...', id: 'material-submit', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', cancel_edit_material_links_path(material_link_id: @material_link.id), class: 'btn', remote: true %>
    <%= link_to 'delete', material_link_path(@material_link.id), class: "btn btn-danger pull-right", confirm: 'Are you sure you want to delete this?', method: :delete, remote: true %>
  <% else %>
    <%= f.submit "Add Material Link", disable_with: 'Saving...', id: 'material-submit', class: 'btn btn-primary' %>
    <%= link_to_function 'Cancel', '', {class: 'btn', id: 'cancel-material-add-form'} %>
  <% end %>

<% end %>

</div>

<script class="code" type="text/javascript">
  $('#cancel-material-add-form').click(function(){
	$('#material-links-form').slideToggle('slow');
	$('#material-form-expansion').text('Add materials');
  });
</script>