<br class="clearing" />

<div id="comment-<%= comment.id %>" class="<%= comment_class(comment) %> cc-comment">
  <%= link_to_learner_avatar(comment.learner, {image_size: :thumb}) %>
  <span class="comment_author"><%= link_to_learner(comment.learner) %></span>
  
  <div class='rating_wrapper'>
    <% if current_learner %>
      <% if upvoted_object = current_learner.get_upvoted_object(comment.id, 'Comment') %>
        <span id='undo_vote_comment_<%= comment.id %>'><%= button_to 'Undo vote', rating_path(upvoted_object), :method => :delete, :remote => true, :class => "btn" %></span>
      <% else %>
        <span id="upvote_comment_<%= comment.id %>"><%= button_to '+', ratings_path(:rating => {:rateable_id => comment.id, :rateable_type => 'Comment', :score => 1}), :method => :post, :remote => true, :class => "btn" %></span>
      <% end %>
    <% else %>
      <%= render(partial: '/events/sign_in_to_vote')%>
      <%= button_to '+', {}, {:class => "btn signintovote sitv_element", :disabled => true} %>
      </div> <!-- end .sitv_element_wrapper  -->
    <% end %>
    <div id="comment_votes_<%= comment.id %>" class="rating_detail">
      <%= render :partial => '/partials/ratings', locals: {rateable_object: comment} %>
    </div>
  </div>
  
  <p class="content">
    <%= format_text_for_display(comment.content) %>
  </p>
  <span class="comment_time"><span><%= link_to time_ago_in_words(comment.updated_at) + ' ago', comment_path(comment) %> </span>
  

  <%- if current_learner && (current_learner.id == comment.learner_id) -%>
    <small><%= link_to 'edit', edit_comment_path(comment), class: "muted", remote: true %> </small>
  <%- end %>
  
  <% if comment.parent_removed %>
    <p class="removed">The comment preceding this comment has been deleted</p>
  <% end %>
  
  <span class="comment_actions">
    <% if current_learner %>
      <%= link_to 'reply', reply_comments_path(comment_id: comment.id), class: 'btn btn-link', id: "reply-to-comment-#{comment.id}", remote: true, :data => { :comment => comment.id } %>
      <span id="cancel-reply-to-comment-<%= comment.id %>" class="btn btn-link" style="display: none;">cancel</span>
    <% end %>
  </span>

</div>