<div id="comment_reply_to_<%= comment.id %>" class="commentfield_container">
  <%= form_tag(comments_path, :id => 'comment-form-reply', :remote => true) do %>
    <%= avatar_for_learner(current_learner, {image_size: :thumb})  %>
    <div class="commentfield">
    <%= text_area_tag 'comment[content]', nil, {:id => "comment_reply_#{comment.id}", :cols => 20, :rows => 5, :class => "wysihtml5"} %>
    <%= hidden_field_tag 'comment[event_id]', comment.event.id %>
    <%= hidden_field_tag 'comment[parent_id]', comment.id %>
    <!-- parent_comment being present means that we called this template from the parent comment's view page 
         and we're passing the parent_comment id along to the request to create a new comment so we can then 
         render the correct thing (the parent comment and it's children) after the comment reply action is executed -->
    <% if comment.ancestry.present? %>
      <%= hidden_field_tag 'parent_comment_id', comment.ancestry %>
    <% end %>
    <span class="comment-cancel btn btn-link" id="comment-cancel-<%= comment.id %>">cancel</span>
    <%= submit_tag "Post", {:id => 'comment-submit', :class => 'btn btn-primary'} %>
    </div>
  <% end %>
  <br class="clearing" />
</div>