<div class="cc-comment-form">

  <% if defined?(@errors) && @errors.present? %>
    <div class="alert alert-error">
      <p><%= @errors %></p>
    </div>
  <% end %>

  <%= form_for @comment, html: {class: "no-top-margin"}, remote: true do |f| %>
    <p><%= avatar_for_learner(current_learner, {image_size: :thumb})  %></p>

    <%= f.text_area :content, cols: 20, rows: 5, class: "wysihtml5 form-control" %>

    <% if @comment.ancestry.present? %>
      <%= hidden_field_tag 'parent_comment_id', @comment.ancestry %>
    <% end %>

    <%= f.hidden_field :event_id, value: @comment.event.id %>

    <%= f.submit "Update comment", disable_with: 'Saving...', id: 'comment-submit', class: 'btn btn-default btn-primary' %>
    <%= link_to 'Cancel', cancel_edit_comments_path(comment_id: @comment.id), class: 'btn', remote: true %>
    <%= link_to 'delete', comment_path(@comment.id), class: "btn btn-default btn-danger pull-right", confirm: 'Are you sure you want to delete this?', method: :delete, remote: true %>

  <% end %>

</div>
