<div class="cc-comment-form">

  <% if defined?(@errors) && @errors.present? %>
    <div class="alert alert-error">
      <p><%= @errors %></p>
    </div>
  <% end %>

  <%= form_for @comment, html: {class: "no-top-margin"}, remote: true do |f| %>
  
    <p class="comment-author"><%= link_to_learner_avatar(current_learner, {image_size: :thumb}) %> <%= link_to_learner(current_learner) %></p>
    
    <%= f.text_area :content, cols: 20, rows: 5, class: "wysihtml5" %>
    
    <%= f.hidden_field :event_id, value: @event.id %>

    <% if @parent_comment.present? %>
      <%= f.hidden_field :parent_id, value: @parent_comment.id %>
    <% end %>
    
    <% if @comment.ancestry? %>
      <%= f.hidden_field :ancestry, value: @comment.ancestry %>
    <% end %>
    
    <%= f.submit "Post comment", disable_with: 'Saving...', id: 'comment-submit', class: 'btn btn-primary' %>
    
    <% if @parent_comment.present? %>
      <%= link_to 'Cancel', cancel_reply_comments_path(comment_id: @parent_comment.id), class: 'cancel-reply-to-comment btn', remote: true, :data => { :comment => @parent_comment.id } %>
    <% end %>

  <% end %>

</div>