<div class="cc-comment-form">

  <% if defined?(@errors) && @errors.present? %>
    <div class="alert alert-error">
      <p><%= @errors %></p>
    </div>
  <% end %>

  <%= form_for @comment, html: {class: "no-top-margin"}, remote: true do |f| %>
    <%= avatar_for_learner(current_learner, {image_size: :thumb})  %>
    
    <%= f.text_area :content, cols: 20, rows: 5, class: "wysihtml5" %>
    
    <%= f.hidden_field :event_id, value: @event.id %>
    <!-- parent_comment being present means that we called this template from the parent comment's view page 
         and we're passing the parent_comment id along to the request to edit that comment so we can then 
         render the correct thing after the comment edit is executed, because the originating page is a comment and it's 
         children and not the whole list of comments -->
    <% if @parent_comment.present? %>
      <%= f.hidden_field :parent_id, value: @parent_comment.id %>
    <% end %>
    
    <% if @comment.ancestry? %>
      <%= f.hidden_field :ancestry, value: @comment.ancestry %>
    <% end %>
    
    <%= f.submit "Post comment", disable_with: 'Saving...', id: 'comment-submit', class: 'btn btn-primary' %>

  <% end %>

</div>