<div class="col-md-10 col-md-offset-1">

  <div class="row">
    <div class="col-md-6">
      <p class="signin-header">If you have an eXtension account, please use it to sign in.</p>
    </div>
    <div class="col-md-6">
      <p class="hidden-sm hidden-xs">No eXtension account? Sign-in with these options to post comments and get notifications.</p>
    </div>
  </div>

<div class="row">
  <div class="col-md-6">
    <p>
      <%= link_to(authmap_omniauth_authorize_path(:people, :redirect_to => (params[:redirect_to].present?) ? params[:redirect_to] : session[:learner_return_to]), class: "btn btn-default btn-block btn-lg") do %>
        <%= image_tag("extension_logo.jpg", :size => "50x50", :class => "size50x50") %>
        Sign in with eXtension
      <%- end -%>
    </p>
  </div>

  <div class="col-md-6">
    <p class="visible-sm visible-xs">No eXtension account? Sign-in with these options to post comments and get notifications.</p>
    <div class="signup-option">
      <p>
        <%= link_to(authmap_omniauth_authorize_path(:twitter, :redirect_to => (params[:redirect_to].present?) ? params[:redirect_to] : session[:learner_return_to]), class: "btn btn-default btn-block btn-lg") do %>
          <%= image_tag("twitter_newbird_boxed_whiteonblue.png", :size => "50x50", :class => "size50x50") %>
          Sign in with Twitter
        <%- end -%>
      </p>
    </div>

    <div class="signup-option">
      <p>
        <%= link_to(authmap_omniauth_authorize_path(:facebook, :redirect_to => (params[:redirect_to].present?) ? params[:redirect_to] : session[:learner_return_to]), class: "btn btn-default btn-block btn-lg") do %>
          <%= image_tag("f_logo.jpg", :size => "50x50", :class => "size50x50") %>
          Sign in with Facebook
        <%- end -%>
      </p>
    </div>

    <div class="signup-option">
      <p>
        <%= link_to(authmap_omniauth_authorize_path(:google, :redirect_to => (params[:redirect_to].present?) ? params[:redirect_to] : session[:learner_return_to]), class: "btn btn-default btn-block btn-lg") do %>
          <%= image_tag("Google_logo.png", :size => "50x50", :class => "size50x50") %>
          Sign in with Google
        <%- end -%>
      </p>
    </div>


</div>

</div>
</div>
