<div class="col-md-8 offset2">

  <h3>Please sign in with your eXtension account.</h3>

  <p class="signup-option">
    <%= image_tag("extension_logo.jpg", :size => "50x50", :class => "size50x50") %>
    <%= link_to "Sign in with eXtension", authmap_omniauth_authorize_path(:people, :redirect_to => (params[:redirect_to].present?) ? params[:redirect_to] : session[:learner_return_to]) %>
  </p>

  <h3>No eXtension account? Sign-in with these options to post comments and get notifications.</h3>
  <p class="signup-option">
    <%= image_tag("twitter_newbird_boxed_whiteonblue.png", :size => "50x50", :class => "size50x50") %>
    <%= link_to "Sign in with Twitter", authmap_omniauth_authorize_path(:twitter, :redirect_to => (params[:redirect_to].present?) ? params[:redirect_to] : session[:learner_return_to]) %>
  </p>

  <p class="signup-option">
    <%= image_tag("f_logo.jpg", :size => "50x50", :class => "size50x50") %>
    <%= link_to "Sign in with Facebook", authmap_omniauth_authorize_path(:facebook, :redirect_to => (params[:redirect_to].present?) ? params[:redirect_to] : session[:learner_return_to]) %>
  </p>

  <p class="signup-option">
    <%= image_tag("Google_logo.png", :size => "50x50", :class => "size50x50") %>
    <%= link_to "Sign in with Google", authmap_omniauth_authorize_path(:google, :redirect_to => (params[:redirect_to].present?) ? params[:redirect_to] : session[:learner_return_to]) %>
  </p>

</div>
