<%- if @showfeedlink -%>
<div class="pull-right">
  <p><i class="fa fa-rss extension-orange"></i> <%= link_to "Subscribe to this list of events", tags_feeds_events_url(tags: params[:tags], type: params[:type]) %><p>
</div>
<%- end -%>
<% if !defined?(paginate_events) || paginate_events != false %>
  <%= pagination_counts(@events) %>
<% end %>
  <%- if defined?(@events.total_count) && @events.total_count > 0 -%>
  <div class="event-list">
    <% @events.each do |indexed_event| %>
      <%- event = Event.find(indexed_event.id) -%>
        <div class="event-list-event">
          <h3 class="event-list-title">
            <% if event.is_expired %>
              <em class="expired">expired</em>
            <% end %>
          <%= link_to event.title, event_path(event) %>
          <%- if event.in_progress? -%>
            <em class="label label-info_list">Happening now</em>
          <%- end -%>
          </h3>
          <p class="event-list-details">
            <%- if event.is_conference_session? -%>
              <span class="label label-info">Conference Session</span>
            <%- end -%>


            <%-if !event.concluded? -%>
              <i class='fa fa-clock-o black'></i> <span class="related-upcoming">Upcoming - </span>
            <%- elsif event.is_online_session? -%>
              <i class="<%= (event.has_recording?) ? "fa fa-play-circle play-green" : "fa fa-play-circle mid-gray" %>"></i>
            <%- end -%>

            <span class="session-date"><%= event.session_start.strftime("%A, %B %e, %Y") -%> at</span>
             <span class="session-time">
                <span id="time"><%= event.session_start.strftime("%l:%M %p").downcase -%> <span id="timezone"><%= event.session_start.strftime("%Z") -%></span></span>
             </span>

            <%- if event.presenters.present? %>
              - Presented by <%= display_presenters(event.presenters) %>
            <%- end %>
          </p>
          <div class="event-list-description"><%= event.html_to_text((event.description.gsub(/[[:space:]]/, ' '))).truncate(280,separator: ' ') %></div>
        </div>
    <% end %>
  </div>
  <% if !defined?(paginate_events) || paginate_events != false %>
    <%= paginate @events %>
  <% end %>
<% else %>
  <p>There are no events right now.</p>
<% end %>
