<% if @learners.count > 0 %>
  <%= pagination_counts(@learners) %>
  <div class="event-list">
    <h1><%= @list_title %></h1>
    <% @learners.each do |learner| %>
        <div class="event-list-event">
            <h3 class="event-list-title">
          <%= link_to learner.name, portfolio_learner_path(learner.id) %>
          </h3>
            <% if learner.retired%>
              <em class="expired">expired</em>
            <% end %>
          </h3>
          <p class="event-list-details">
            Created on: <span class="session-date"><%= learner.created_at.strftime("%A, %B %e, %Y") -%> </span>
          </p>
        </div>
    <% end %>
  </div>
  <%= paginate @learners%>
<% else %>
  <p>No users found.</p>
<% end %>
