<div class="span8 offset1">
  <div class="addthis-wrapper pull-right">
    <%= render(:partial => 'events/addthis') %>
  </div>
  <br class="clearing">

<h1><%= @list_title %></h1>

<ul class="nav nav-tabs">
  <li><a href="#event_results">Events</a></li>
  <li><a href="#learner_results">Learners</a></li>
</ul>

<span class="search_section_anchor" id="events_results"></span>
<div class="search_section">
  <h2>Events<small> (with '<%= params[:q] %>' in the <%= @number_passed ? "id" :  "title, description or tag" %>)</small></h2>
  <% if @events.size > 0 %>
    <%= render :partial => 'event_list', :locals => {:paginate_events => false, :title => ""} %>
    <p><%= link_to 'View all events', search_events_path(:q => params[:q]) %></p>
  <% else %>
    <h3>No results</h3>
  <% end %>
  <br class="clearing" />
</div>

<span class="search_section_anchor" id="learner_results"></span>
<div class="search_section">
  <h2>Learners<small> (with '<%= params[:q] %>' in the <%= @number_passed ? "id" : "first or last name" %>)</small></h2>
  <% if current_learner %>
    <% if @learners.size > 0 %>
      <%= render :partial => 'learner_list', :locals => {:paginate_learners => false, :title => ""} %>
      <p><%= link_to 'View all learners', search_learners_path(:q => params[:q]) %></p>
    <% else %>
      <h3>No results</h3>
    <% end %>
  <% else %>
    <h3><%= link_to 'Login to view learners', new_learner_session_path %></h3>
  <% end %>

  <br class="clearing" />
</div>

<div id="search_padding"></div>
</div>
