<%= render(partial: 'navtabs') -%>
<h2>Event Statistics for <%= link_to @conference.name, conference_path(id: @conference.hashtag) %></h2>
<%- if !@events.blank? -%>
<p id="csv"><%= link_to('Download a list of these results (csv)',:action => 'events', :download => 'csv') %> </p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Presenters</th>
      <th>Title</th>
      <th>Tags</th>
      <th>Recording</th>
      <th>Length</th>
      <th>Followed</th>
      <th>Attended</th>
      <th>Watched</th>
      <th>Commentators</th>
    </tr>
  </thead>
  <tbody>
    <%- @events.each do |event| -%>
    <tr>
      <td><%= event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") %></td>
      <td><%= display_presenters(event.presenters) %></td>
      <td><%= link_to event.title, conference_event_path(event,:conference_id => @conference.hashtag) %></td>
      <td><%= display_conference_tags(event.tags) %></td>
      <td><%= (event.has_recording?) ? link_to("link", event.recording) : "n/a" %></td>
      <td><%= event.session_length %></td>
      <td><%= event.followers.count %></td>
      <td><%= event.attendees.count %></td>
      <td><%= event.viewers.count %></td>
      <td><%= event.commentators.count %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
<%- else -%>
<div class="noevents">
<h3>No events listed for this conference</h3>
</div>
<%- end -%>
