<%- @page_title = "Full Events Listing for #{@conference.hashtag}" -%>

<div id="behindthescenes">
  <h1><%= @page_title %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Session ID#</th>
      <th>Session Time</th>
      <th>Title</th>
      <th>Room</th>
      <th>Presenters</th>
    </tr>
  </thead>
  <tbody>
    <%- @events.each do |event| -%>
      <tr>
        <td><%= event.id -%></td>
        <td><%= event.session_start.strftime('%Y-%m-%d %H:%M:%S') -%></td>
        <td><%= link_to event.title.truncate(80, separator: '...'), conference_event_path(event, conference_id: @conference.id) -%></td>
        <td><%= event.room -%></td>
        <td>
          <%- if event.presenters.count > 0 -%>
            <%= display_presenters(event.presenters) -%>
          <%- else -%>
            <span class='label label-warning'>No presenters!</span>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>
</div>