<% @page_title = @learner.name + " Learning Portfolio" %>

<% if @learner.is_blocked %>
<div id="account_block_banner">
  <h3>This account has been reported and blocked</h3>
  <% if current_learner && (current_learner.id != @learner.id) %>
  <%= button_to 'Unblock this account', unblock_learner_path(@learner.id), :method => :post, :confirm => "Unblock this account?", :class => "btn" %>
  <% end %>
</div>
<% end %>

<div id="learner_info">
  <div id="learner_info_text">
  <h1><%= @learner.name %></h1>  
  
  <%- if(!@learner.bio.blank?) -%>
    <p><%= @learner.bio %></p>
  <%- else -%>
    <%- if current_learner && current_learner.id == @learner.id -%>
      <p><%= link_to "Everyone else is seeing a blank area here. Want to add a short bio about youself?", settings_profile_path() %></p>
    <%- end -%>
  <%- end -%>
  <p><%= link_to("View portfolio", portfolio_learner_path(@learner)) %></p>
  </div>
  <div id="avatar_wrapper">
    <%= avatar_for_learner(@learner, {image_size: :medium}) %>
    <%- if !@learner.avatar.present? %>
      <%- if current_learner && current_learner.id == @learner.id -%>
      <p class="edit"><%= link_to "edit", settings_profile_path %></p>
      <%- end %>
    <%- end -%>
  </div>
</div>

<br class="clearing" />

<div>
  <div class="page-header">
  <h3><%= @conference.name %> Schedule <small><%= link_to('conference overview', conference_path(id: @conference.hashtag)) %></small></h3>
  </div> 

  <% @events.each do |event| %>
      <div class="event">
        <h3>
        <%= link_to event.title, event_path(event) %> 
        <%- if event.in_progress? -%>
          <em class="label label-info_list">Happening now</em>
        <%- end -%>
        <small><strong><%= event.session_start.strftime("%l:%M %p").downcase -%>, <%= event.session_start.strftime("%B %e, %Y") -%></strong> in <%= display_room(event.room) %></small>
        </h3>
      </div>
   <% end %>
</div>
