<%- if @nexc2012 and @nexc2012.in_progress? -%>
<div id="conference_banner"><span class="label label-info">Happening Now!</span> <span><strong><%= link_to('eXtension 2012 National Conference',conference_path(@nexc2012)) %></strong></span></div>
<%- end -%>

<div class="col-md-5 col-sm-5">
  <h2>Upcoming Sessions <small><%= link_to 'view all', upcoming_events_path %></small></h2>

  <%- if !current_learner %>
  <%= time_zone_select( :user_selected_timezone, :timezone, ActiveSupport::TimeZone.us_zones, {:default =>timezone_select_default,
                        :include_blank => (timezone_select_default.nil? ? Time.zone.name : nil)}, {:class => "form-control"}) %>
  <%- end -%>

  <div class="upcoming-events">
  <%- @upcoming_events.each do |event| -%>
    <section class="upcoming-events-single">
      <% if event.in_progress? %>
        <span class="label label-info"><em>Happening now</em></span>
      <% end %>

      <%- if event.is_multiday_event? -%>
        <div class="calendarblock multi-day">
            <%- if event.session_start.strftime("%b") != event.session_end.strftime("%b") -%>
              <span class="month"><%= event.session_start.strftime("%b") -%><span class="multi-day-hyphen">-</span><%= event.session_end.strftime("%b") -%></span>
            <%- else -%>
              <span class="month"><%= event.session_start.strftime("%b") -%></span>
            <%- end -%>
            <span class="date multi-day"><%= event.session_start.strftime("%d") -%><span class="multi-day-hyphen">-</span><%= event.session_end.strftime("%d") -%></span>
         </div>
      <%- else -%>
        <div class="calendarblock">
            <span class="month"><%= event.session_start.strftime("%b") -%></span>
            <span class="date"><%= event.session_start.strftime("%d") -%></span>
         </div>
      <%- end -%>



      <h3 class="upcoming-events-single-description"><%= link_to(event.title, event_path(event.id)) -%></h3>

      <h4><%= event.session_start.strftime("%l:%M %p").downcase -%> <%= event.session_start.strftime("%Z") -%></h4>

      <div class="description"><%= event.description.html_safe -%></div>

      <% if event.cover_image.present? %>
         <div class="event-cover-image">
           <%= image_tag(event.cover_image_url(:cover)) %>
         </div>
       <% end %>

      <%- if event.presenters.count > 0 -%>
        <h3 class="event-section-header">Presenters</h3>
        <p class="presenters"><%= display_presenters(event.presenters) %></p>
      <%- end -%>

      <div class="tags">
        <h4 class="hide">Tags</h4>
        <p>
          <%-if event.tags.length != 0 -%>
            <%= display_tags(event.tags) -%>
          <%-else -%>
            There are no tags at this time
          <%-end -%>
        </p>
      </div>
   </section>
  <%- end -%>
  </div>
  <small><%= link_to 'View all upcoming events', upcoming_events_path, :class => "muted" %></small>
</div>


<div class="col-md-3 col-sm-3">
  <h2>More Upcoming <small><%= link_to 'view all', upcoming_events_path %></small></h2>

  <div id="more_upcoming_events">
  <%- @more_upcoming_events.each do |event| -%>
    <dl>
      <dt><%= link_to(event.title, event_path(event.id)) -%></span></dt>
      <dd class="recent-event-age">
        <%= event.session_start.strftime("%A, %B %e") -%> at <%= event.session_start.strftime("%l:%M %p").downcase -%> <%= event.session_start.strftime("%Z") -%>
      </dd>

    </dl>
  <%- end -%>
  <small><%= link_to 'View all upcoming events', upcoming_events_path, :class => "muted" %></small>
  </div>

  <h2>Recent Sessions <small class="muted"><%= link_to 'view all', recent_events_path %></small></h2>

  <div class="recent-events-list">
  <%- @recent_events.each do |event| -%>
    <p>
      <span class="related_events">
      <% if event.has_recording? %>
        <i class='fa fa-play-circle play-green'></i> <%= link_to(event.title, event_path(event.id)) -%>
      <% else %>
        <i class='fa fa-play-circle mid-gray'></i> <%= link_to(event.title, event_path(event.id)) -%>
      <% end %>
      <span class="recent-event-age"><%= time_ago_in_words(event.session_start) %> ago</span>
      </span>
    </p>
  <%- end -%>
  </div>
  <small><%= link_to 'View all recent events', recent_events_path, :class => "muted" %></small>
</div>


<div class="col-md-4 col-sm-4">

  <div class="marketing-module">
    <h1 class="learn-tagline">Free Access To Cutting Edge Learning Events</h1>

    <p>These professional development sessions are brought to you by eXtension and are open to anyone.</p>

    <p>Learn more about the <%= link_to "eXtension Foundation", "https://extension.org/" -%>.</p>

    <p>If you have a suggestion for a topic, you can tweet to <%= link_to "@extensionLearns", "http://twitter.com/extensionLearns" %>.</p>
  </div>




<ul class="homepage-actions">
  <%- if current_learner -%>
     <li><%= link_to "Create a new event", hosting_path(), :class => "btn btn-default" %></li>
 <%- end -%>
  <li><i class="fa fa-rss extension-orange"></i> <%= link_to "Subscribe to all events", feeds_events_url() %></li>
  <li class="join"><%= link_to "How to participate in Learn events", "http://create.extension.org/node/698#How_to_Participate_in_eXtension_Professional_Development" %></li>
  <% if current_learner %>
  <li><%= link_to "Canceled events", canceled_events_path %></li>
  <li><%= link_to('Event statistics', data_events_path) -%></li>
  <li><%= link_to('Create a Learn widget', widgets_path) -%></li>
  <% end %>
</ul>
  <p><%= link_to image_tag("Ask_An_Expert_logo_color.png", :class => "ask-an-expert-button", :alt =>"Ask an Expert"), contact_us_path(), :title => "One-to-one answers from a network of experts at universities across America." %></p>

  <div class="addthis-wrapper clearing">
    <%= render(:partial => 'events/addthis') %>
  </div>

</div>
