<div id="three_col_one">
  <h2>Upcoming Sessions</h2>
  <p><%= link_to 'view all', events_upcoming_path %></p>
  <div id="upcoming_events">
  <%- @upcoming_events.each do |event| -%>
    <section class="event">
      <div class="calendarblock">
          <span class="month"><%= event.session_start.strftime("%b") -%></span>
          <span class="date"><%= event.session_start.strftime("%d") -%></span>
       </div>
      
      <h3><%= link_to(event.title, event_path(event.id)) -%></h3>
    
      <p class="description"><%= format_text_for_display(event.description) -%></p>

      <%- if event.presenters.count > 0 -%>
        <h3>Presenters</h3>
        <p id="presenters"><%= display_presenters(event.presenters) %></p>
      <%- end -%>
      
      <div id="tags">
        <h4 class="hide">Tags</h4>
        <p>
          <%-if event.tags.length != 0 -%>  
            <%= display_tags(event.tags) -%>
          <%-else -%>
            There are no tags at this time
          <%-end -%>
        </p>
      </div>
   </section>
  <%- end -%>
  </div>
</div>


<div id="three_col_two">
  <h2>Recent Sessions</h2>
  <p><%= link_to 'view all', events_recent_path %></p>
  <div id="recent_events">
  <%- @recent_events.each do |event| -%>

      <% if event.has_recording? %>
         <dl>
           <dt><span class="recording_available"><%= link_to(event.title, event_path(event.id)) -%></dt>
           
      <% else %>
         <dl><dt><span class="no_recording_available"><%= link_to(event.title, event_path(event.id)) -%></dt>
           
      <% end %>
      
      <dd><%= time_ago_in_words(event.session_start) %> ago</dd>
      </dl>
   
  <%- end -%>
  </div>
</div>


<div id="three_col_three" class="marketing_blurb">
  <h1>Free access to cutting edge Professional Development Events</h1>
  <p>These professional development sessions are brought to you by eXtension and are open to anyone.</p>
  
  <%- if current_learner -%>
    <h3>What other information do we want to promote/surface here?</h3>
  <%- else -%>
    
    <p><%= link_to("Sign in", new_learner_session_path(:redirect_to => request.fullpath), :class => "btn primary" )%></p>
  
    <h3>Why Sign in?</h3>
    <ul>
      <li>Bookmark events you are interested in</li>
      <li>Get text/email notifications for events right before they start</li>
      <li>Comment on and rate events</li>
    </ul>
  <%- end -%>
  
  
  
  
</div>