<ul id="signup_options">
  <li><%= link_to "Sign in with Twitter", authmap_omniauth_authorize_path(:twitter) %></li>
  <%= render :partial => "devise/shared/links" %>
</ul>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "half"}) do |f| %>
  <fieldset>
    <legend>Sign up</legend>
    
    <%= devise_error_messages! %>
    
    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.password_field :password %>
      </div>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign up", :class => "primary btn"  %>
    </div>
  </fieldset>
<% end %>

