<h4>
  <span class="calendarblock">
    <span class="month"><%= @event.session_start.strftime("%b") -%></span>
    <span class="date"><%= @event.session_start.strftime("%d") -%></span>
  </span>
  <span class="session-date"><%= @event.session_start.strftime("%A, %B %e") -%> at</span>
  <span class="session-time">
    <span id="time"><%= @event.session_start.strftime("%l:%M %p").downcase -%> <span id="timezone"><%= @event.session_start.strftime("%Z") -%></span></span>
  </span>
</h4>

<%- if !current_learner %>
  <%= time_zone_select( :user_selected_timezone, :timezone, ActiveSupport::TimeZone.us_zones, {:default =>timezone_select_default, :include_blank => (timezone_select_default.nil? ? Time.zone.name : nil)}, {:class => "form-control"}) %>
<%- end -%>

<h4 class="session-duration"><%= "#{@event.session_length}" -%> minute session</h3>

<p class="addtocalendar">
  <span id="event_date" class="addtocal">
    <span class="btn btn-default"><i class="fa fa-table"></i> Add to calendar</span>
    <span class="summary" style="display:none"><%= "Learn Event: #{@event.title}" %></span>
    <span class="dtstart" style="display:none"><%= add_to_cal_timestamp(@event.session_start) %></span>
    <span class="dtend" style="display:none"><%= add_to_cal_timestamp(@event.session_end) %></span>
    <span class="description" style="display:none"><%= event_url(@event) %></span>
    <span class="ics_url" style="display:none"><%= event_url(@event, :format => :ics) %></span>
    <span class="vcs_url" style="display:none"><%= event_url(@event, :format => :vcs) %></span>
  </span>
</p>

<p class="timezone">
  <%- if current_learner -%>
    <%- if(!current_learner.has_time_zone?) -%>
      <%= link_to("Set your time zone to display this session in your local time", settings_profile_path()) -%>
    <%- end -%>
  <%- end -%>
</p>

<%- if(@event.requires_registration?) -%>
  <div class="form-group registration_form">
    <span class="help-block">You must register in order to see the web address of the event.</span>
    <%= form_tag(register_learner_path ) do -%>
      <p>
        <%= label_tag("first_name", "First Name") %>
        <%= text_field_tag(:first_name, (@current_learner ? @current_learner.first_name : ""), class: 'form-control') %>
      </p>
      <p>
        <%= label_tag("last_name", "Last Name") %>
        <%= text_field_tag(:last_name, (@current_learner ? @current_learner.last_name : ""), class: 'form-control') %>
      </p>
      <p>
        <%= label_tag("email", "Email") %>
        <%= text_field_tag(:email, (@current_learner ? @current_learner.email : ""), class: 'form-control') %>
      </p>
      <%= hidden_field_tag 'event_id', @event.id %>
      <p class="submit_register">
        <%= submit_tag "Register for event", id: 'register_button', class: "btn btn-default btn-primary" %>
      <p/>
    <%- end -%>
  </div>
<%- end -%>

<p class="location"><small><strong>Location:</strong> <%= link_to(truncate(@event.location.html_safe), @event.location.html_safe, :target => "_blank") -%></small></p>