<%= hidden_field_tag 'event[conference_id]', @event.conference_id %>
<%= hidden_field_tag 'event[time_zone]', @event.time_zone %>

<p>
   <%= event_form.text_field :title, :size => nil, :class => "title" %>
   <span class="help-block">If you make your title 80 characters or less, it can be easily texted</span>
</p>

<fieldset id="presenters">
  <p>
    <%= event_form.label :presenter_tokens, "Presenters" %>
    <%= event_form.text_field :presenter_tokens, "data-pre" => @event.presenter_tokens_tokeninput.to_json  %>
  </p>
 </fieldset>
 

<fieldset id="room">
  <p>
    <%= event_form.label :room, "Room" %>
   <%=  event_form.text_field :room %>
  </p>
 </fieldset>

 <fieldset id="description">
    <p>
       <%= event_form.label :description, 'Description' %>
       <%= event_form.text_area :description, {:rows => "7"} %>
    </p>
 </fieldset>
 
 <fieldset id="datetime">
   <p>
   <%= event_form.label :session_start, 'Date and Time' %>
   <%= event_form.text_field :session_start_string, {id: 'session_start', :size => nil} %>
   </p>
 </fieldset>
   
 <fieldset id="session_length">
   <p>
   <%= event_form.label :session_length, 'Duration (in minutes)' %>
   <%=  event_form.text_field :session_length, :class => "xs" %>
   </p>
 </fieldset>
 
 <fieldset>

  <%- if !@event.conference.is_virtual? -%>
   <p>
     <label>
     <%= event_form.check_box :is_broadcast %>
     This conference session will be available online as a general Learn Event
     <span class="help-block">Use this option when a conference session will be broadcast live online and available as a general Learn session.</span>
     </label>
   </p>
  <%- else -%>
    <%= hidden_field_tag 'event[is_broadcast]', '1' %>
  <%- end -%>
     
 <p>
    <%= event_form.label :location, 'Event Location (e.g., http://connect.extension.iastate.edu/learn)' %>
    <%= event_form.text_field :location, :class => "xxl" %>
    <span class="help-block">An event location is only displayed for conference sessions that are available online.</span>
    </label>
 </p>
 
 <!-- TODO: use the session_start/session_end settings above to determine whether this is shown. -->
 <% if @event.concluded? %>
   <p>
      <%= event_form.label :recording, 'Recording URL' %>
      <%= event_form.text_field :recording, :class => "xxl" %>
   </p>
 <% end %>
 
 </fieldset>
 
 <fieldset>
   <p>
     <%= event_form.label :tags, 'Tags (comma separated -- e.g., tools, information technology, widgets)' %>
     <%= event_form.text_field :tag_list, :class => "xxl" %>
   </p>
 </fieldset>
 
 <!-- While an event is going on, you can neither cancel it nor expire it -->
 <!-- Admins can cancel and expire events anytime -->
 <% if (!@event.new_record? && !@event.started?) || (current_learner.is_admin && !@event.new_record?) %>
   <fieldset>
      <p class="clearing">
        <label>
        <%= event_form.check_box :is_canceled %>
        Cancel this Event
        <span class="help-block">The event page is still viewable. A "Canceled" banner is displayed on the page, and an email is sent to people who followed the event. Please update the "description" field explaining why the event was canceled. The event will eventually be removed from the site.</span>
        </label>
      </p>
   </fieldset>
 <% end %>
  
 <% if (!@event.new_record? && @event.concluded?) || (current_learner.is_admin && !@event.new_record?) %>
   <fieldset>
     <p class="clearing">
       <label>
       <%= event_form.check_box :is_expired %>
       Expire this Event
       <span class="help-block">Use this option when an event is out-of-date or the technical recording is poor. A prominent "expired" banner is displayed on the page, and the event is removed from our recommendation engine. Please update the "description" field explaining why, and include a link to a better session if available.</span>
       </label>
     </p>
     
  </fieldset>
<% end %>


<p>
  <%= submit_tag 'Save Session', :class => "btn btn-primary btn-large" %>
  <%- if @event.id %>
    <%= link_to("cancel", event_path(@event.id), :class => "cancel") -%>
  <%- else -%>
    <%= link_to("cancel", root_path(), :class => "cancel") -%>
  <%- end -%>
</p>
 
 <script class="code" type="text/javascript">
   $('#session_start').datetimepicker({
    dateFormat: 'yy-mm-dd',
   	ampm: true
   });
   
   $(function () {
     $('#event_presenter_tokens').tokenInput('<%= learner_token_search_events_path %>', { 
       crossDomain: false,
       prePopulate: $('#event_presenter_tokens').data('pre'),
       theme: 'facebook' 
     });
   });

  $(function () {
    var rooms = <%= @event.conference.rooms.to_json.html_safe %>;
    $('#event_room').autocomplete({
      source: rooms,
      minLength: 2
    });
  });
 </script>