<%= form_tag(makeconnection_event_path(@event), {remote: true}) do -%>
  <%= hidden_field_tag('connectiontype', EventConnection::FOLLOW) %>
<div class="checkbox">
  <p class="cursor">
      <label>
      <%= check_box_tag('wantsconnection','1',current_learner.is_following_event?(@event),{class: 'submittable'}) %>
      <span>Follow this event</span>
      <span><small>We'll add it to your Learning Portfolio and let you know about new activity</small></span>
    </label>
  </p>
</div>


<%- end -%>

<%- if @event.started? -%>

  <%= form_tag(makeconnection_event_path(@event), {remote: true}) do -%>
    <%= hidden_field_tag('connectiontype', EventConnection::ATTEND) %>
  <div class="checkbox">
    <p>
      <label class="checkbox">
      <%= check_box_tag('wantsconnection','1',current_learner.attended_event?(@event),{class: 'submittable'}) %>
      <span>Attended</span>
      <span><small>It will show up in your Learning Portfolio</small></span>
      </label>
    </p>
  </div>
  <%- end -%>

  <%= form_tag(makeconnection_event_path(@event), {remote: true}) do -%>
    <%= hidden_field_tag('connectiontype', EventConnection::WATCH) %>
  <div class="checkbox">
    <p>
      <label class="checkbox">
      <%= check_box_tag('wantsconnection','1',current_learner.watched_event?(@event),{class: 'submittable'}) %>
      <span>Watched Recording</span>
      <span><small>It will show up in your Learning Portfolio</small></span>
      </label>
    </p>
  </div>
  <%- end -%>

<%- end -%>

<%- if current_learner.has_connection_with_event?(@event) -%>
  <div id="notification_prefs" class="notification-prefs">
    <%= form_tag(notificationexception_event_path, :id => @event.id, :remote => true) do %>
    <ul>
      <%- if current_learner.preferences.setting("notification.reminder.sms") and !@event.started? and !current_learner.has_event_notification_exception?(@event) -%>
        <li class="sms">You are signed up to get a text message when this event is about to start</li>
      <%- end -%>

      <%- if current_learner.preferences.setting("notification.reminder.email") and !current_learner.has_event_notification_exception?(@event) -%>
        <li class="email">Email notifications for this event are turned on</li>
      <%- end -%>

      <%- if current_learner.has_event_notification_exception?(@event) -%>
        <li><%= submit_tag "Turn notifications on for this event", {:id => '1', :class => 'btn'} %></li>
      <%- else -%>
        <li><%= submit_tag "Turn notifications off for this event", {:id => '0', :class => 'btn'} %></li>
      <%- end -%>

      <li class="settings"><%= link_to 'Change your notification settings', settings_notifications_path %></li>
    </ul>
    <% end %>
  </div>
<%- end -%>
