<div class="well">
  <%= form_tag(addevalanswer_event_path(event), {remote: true, id: "answer_form_for_evalquestion_#{evalquestion.id}"}) do -%>
    <%= hidden_field_tag('evalquestion', evalquestion.id) -%>
      <legend><%= evalquestion.prompt %></legend>
      <div class="control-group">
        <div class="controls">
          <%- evalquestion.responses[:responsestrings].each_with_index do |response, index| -%>
            <label class="radio"><%= radio_button_tag('value',response,is_multichoice_evalanswer_checked?(event,evalquestion,response),{class: 'submittable showsecondary'}) %> <%= response %></label>
          <%- end -%>
        </div>
      </div>
      <div id="secondary_prompt" style="display: none">
       <p><strong><%= evalquestion.secondary_prompt %></strong></p>
       <%= text_area_tag('secondary_response',evalquestion_secondary_response_for_event(evalquestion,event), {class: 'submittable', rows: 5}) %>
      </div>
  <%- end -%>
</div>


<script type="text/javascript">
var triggervalues = <%= evalquestion.responses[:triggers].to_json.html_safe %>;
$(".showsecondary").click(function(){
  if($.inArray($(this).val(),triggervalues) !== -1)  
    $("#secondary_prompt").show("fast"); 
  else 
    $("#secondary_prompt").hide("fast");
});
</script>