<fieldset id="presenters">
    Presenters: TODO:
 </fieldset>
 
 <fieldset id="description">
    <p>
       <%= event_form.label :title, 'Title' %>
       <%= event_form.text_field :title %>
    </p>

    <p>
       <%= event_form.label :description, 'Description' %>
       <%= event_form.text_area :description, {:rows => "7"} %>
    </p>
 </fieldset>
 
 <fieldset id="datetime">
   <p>
   <%= event_form.label :session_start, 'Date and Time' %>
   <%= event_form.text_field :session_start, value: @event.session_start.in_time_zone(@event.time_zone) %>
   </p>
   
   <p>
   <%= event_form.label :time_zone, 'Time Zone' %>
   <%= event_form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => @event.time_zone %>
   </p>
   
 </fieldset>
   
 <fieldset id="session_length">
   <p>
   <%= event_form.label :session_length, 'Duration (in minutes)' %>
   <%=  event_form.text_field :session_length, :class => "xs" %>
   </p>
 </fieldset>
 
 <fieldset>
 <p>

    <%= event_form.label :location, 'Location (e.g., http://connect.extension.iastate.edu/learn)' %>
    <%= event_form.text_field :location, :class => "xxl" %>
 </p>
 
 <!-- TODO: use the session_start/session_end settings above to determine whether this is shown. -->
 <% if @event.concluded? %>
   <p>
      <%= event_form.label :recording, 'Recording' %>
      <%= event_form.text_field :recording %>
   </p>
 <% end %>
 
 </fieldset>
 
 <fieldset>
   <p>
     <%= event_form.label :tags, 'Tags (comma separated -- e.g., tools, information technology, widgets)' %>
     <%= text_field_tag :tags, @event.display_tags, :class => "xxl" %>
   </p>
 </fieldset>

 <p><%= submit_tag 'Save Session', :class => "bigbutton blue" %></p>