<% if @events.total_entries > 0 %>
  <p>Displaying <strong><%= @events.offset + 1 %>-<%= @events.offset + @events.length %> of <%= @events.total_entries %></strong>
  
  <%= will_paginate @events %>
    
  <div id="event_list">
    <% @events.each do |event| %>
        <div class="event">  
          <h3><span class="<%= (event.has_recording?) ? "recording_available" : "no_recording_available" %>">
          <%= link_to event.title, event_path(event) %></span></h3>
          <p class="description"><%= (event.description.length > 280) ? event.description.mb_chars[0..280]+'...' : event.description %></p>
          <p class="details"><%= event.session_start.strftime("%l:%M %p").downcase -%> <%= event.session_start.strftime("%Z") -%>, <%= event.session_start.strftime("%B %e, %Y") -%>. Presented by <%= display_presenters(event.presenters) %>.</p>
        </div>
    <% end %>
  <div>
  
  <%= will_paginate @events %>
    
<% else %>

  <p>There are no events right now.</p>
  
<% end %>