<div class="pull-right">
  <p class="feed"><%= link_to "Subscribe to this list of events", tags_feeds_events_url(tags: params[:tags], type: params[:type]) %><p>
</div>
<% if @events.total_count > 0 %>

  <%= pagination_counts(@events) %>
  <%= paginate @events %>

  <div id="event_list">
    <% @events.each do |event| %>
        <div class="event">
          <h3>
            <%- if event.is_online_session? -%>
             <span class="<%= (event.has_recording?) ? "recording_available" : "no_recording_available" %>">
            <%- end -%>
            <% if event.is_expired %>
              <em class="expired">expired</em>
            <% end %>
          <%= link_to event.title, event_path(event) %>
          <%- if event.in_progress? -%>
            <em class="happening_now_list">Happening now</em>
          <%- end -%>
          <%- if event.is_online_session? # have to close the span from above, TODO - probably a better way to span the recording icon -%>
            </span>
          <%- end -%>

          </h3>
          <p class="details">
            <%- if event.is_conference_session? -%>
              <span class="label label-info">Conference Session</span>
            <%- end -%>
            <strong><%= event.session_start.strftime("%l:%M %p").downcase -%> <%= event.session_start.strftime("%Z") -%>, <%= event.session_start.strftime("%B %e, %Y") -%></strong>. Presented by <%= display_presenters(event.presenters) %>.
          </p>
          <p class="description"><%= event.description.truncate(280,separator: ' ').html_safe %></p>

        </div>
    <% end %>
  </div>

  <%= paginate @events %>

<% else %>

  <p>There are no events right now.</p>

<% end %>
