<div id="two_col_col_one">
  <section id="event">
    
    <%- if @event.is_conference_session? -%>
      <div class="conference-info">
        <p><span class="label label-info">Conference Session</span> This event is part of the <%= link_to(@event.conference.name,conference_path(:id => @event.conference.hashtag)) %></p>
        <p id="session_id"><span class="badge badge-info">Session #<%= @event.id %></span></p>
        <h3><%= display_room(@event.room) -%></h3>
        <%- if current_learner -%>
          <p><span class="edit"><%= link_to('edit this event', edit_conference_event_path(@event, :conference_id => @event.conference.id), :class => "editlink") -%></span></p>
        <%- end %>
      </div>
    <% end %>
  
    <h2><%= @event.title -%></h2>
    
    <div class="rating_wrapper">
      <% if current_learner %>
          <% if upvoted_object = current_learner.get_upvoted_object(@event.id, 'Event') %>
            <span id='undo_vote_event_<%= @event.id %>'><%= button_to '-', rating_path(upvoted_object), :method => :delete, :remote => true, :class => "btn" %></span>
          <% else %>
            <span id='upvote_event_<%= @event.id %>'><%= button_to '+', ratings_path(:rating => {:rateable_id => @event.id, :rateable_type => 'Event', :score => 1}), :method => :post, :remote => true, :class => "btn btn-primary" %></span>
          <% end %>
        <% else %>
          <%= render(partial: 'sign_in_to_vote')%>
          <%= button_to '+', {}, {:class => "btn signintovote sitv_element", :disabled => true} %>
          </div> <!-- end .sitv_element_wrapper  -->
        <% end %>
        <div id="event_votes" class="rating_detail">
          <%= render :partial => '/partials/ratings', locals: {rateable_object: @event} %>
        </div>
    </div>

      <% if @event.in_progress? %>
        <span class="happening_now"><em>Happening now</em></span>
        <br class="clearing"/>
      <% end %>
      
      <div class="description"><%= @event.description.html_safe -%></div>
      
      
      <div class="event-section">
        <div class="tags">
          <h4 class="hide">Tags</h4>
          <p>
            <%-if @event.tags.length != 0 -%>
              <%= display_tags(@event.tags) -%>
            <%-else -%>
              There are no tags at this time
            <%-end -%>
          </p>
        </div>
      </div>
      
      
      <% if @event.images.size > 0 %>

        <div class="images_wrapper clearfix"> 
        <% @event.images.each do |image| %>
          <% if image.persisted? %>
            <% if File.exists?(Rails.root.join("public#{image.file_url(:largethumb,false)}")) %>
            <div class="question_image_wrapper">
              <a data-toggle="modal" href="#myModal<%= image.id %>"><%= image_tag(image.file_url(:largethumb)) %></a>
            </div>

            <div id="myModal<%= image.id %>" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <p>
                  <strong><a href="#" type="button" data-dismiss="modal" aria-hidden="true">Close</a></strong> -
                  <%= link_to "View full size in a new window", image.file_url(), :target => "_blank" %>
                <p>
              </div>
              <div class="modal-body">
                <%= image_tag image.file_url() %>
              </div>
            </div>
            <% else %>
             <%= image_tag("missing_image.png", :size => "80x80", :class => 'missing_image size80x80') %>
            <% end %>
          <% end %>
        <% end %>  
        <br class="clearing" />
      </div>

    <% end %>
      

    <%- if @event.presenters.count > 0 -%>
      <div class="event-section">
        <h3>Presenters</h3>
        <p id="presenters"><i class="icon-user"></i> <%= display_presenters(@event.presenters) %></p>
      </div>
    <%- end -%>  
      
    <%-if !@event.concluded? -%>
      <div class="event-section">
        <h3>Location</h3>
        <p><i class="icon-globe"></i> <%= auto_link(@event.location.html_safe, :all, :target => "_blank") -%></p>
      </div>
    <%- end -%>
    
    <% if @event.evaluation_link.present? %>
      <div class="event-section">
  	    <h3>Evaluation</h3>
        <%- if @event.concluded? -%>
          <%= auto_link(@event.evaluation_link.html_safe, :all, :target => "_blank") -%>
        <% else %>
          <p>An evaluation link will appear here after the conclusion of this event.</p>
        <% end %>
      </div>
    <% end %>
    
    <% if !@event_material_links.blank? %>
      <div class="event_materials">
        <h3>Event Materials</h3>
        <div id="material-links-list">
          <%= render partial: 'material_links/material_links_list' %>
	      </div>
      </div>
    <% end %>
    
    <div class="event-section">
      <p>Created by <%= link_to_learner(@event.creator) %></p>
    </div>
    
    <%- if current_learner && !@event.is_conference_session? -%>
      <p><%= link_to('edit this event', edit_event_path(@event), :class => "btn") -%></p>
    <%- end %>
    
   </section>

   <div id="comment-section">
    <%= render :partial => 'comments', :locals => {comments: @comments, event: @event} %>
   </div>
</div>



<div id="two_col_col_two">
  
  <aside id="event_time" class="radius10">

      <%-if @event.concluded? -%>
        <h4>Watch</h4>

        <div id="recording_details">
         <%-if @event.has_recording? -%>
           <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong></p>
           <p class="recording_available">
              <%= link_to("watch recording", @event.recording) -%>
           </p>
          <%-else -%>
            <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong>. A recording of this session has not been uploaded yet.</p>
            <p class="no_recording_available"><strong>No Recording Yet</strong></p>
          <%-end -%>
        </div>
      <%-else -%>

        <h3>
           <span id="session_date"><%= @event.session_start.strftime("%B %e, %Y") -%></span>
           <span class="calendarblock">
              <span class="month"><%= @event.session_start.strftime("%b") -%></span>
              <span class="date"><%= @event.session_start.strftime("%d") -%></span>
           </span>
           <span id="session_date_time">
              <span id="time"><%= @event.session_start.strftime("%l:%M %p").downcase -%> <span id="timezone"><%= @event.session_start.strftime("%Z") -%></span></span>
           </span>
        </h3>

        <p class="timezone"><%- if current_learner -%>
          <%- if(!current_learner.has_time_zone?) -%>
           <%= link_to("Set your time zone to display this session in your local time", settings_profile_path()) -%>
          <%- end -%>
        <%- end -%></p>

        <h4 id="session_duration"><strong><%= "#{@event.session_length}" -%> minute</strong> session</h3>
          
        <p class="addtocalendar">
          <span id="event_date" class="addtocal">
            Add to calendar
            <span class="summary" style="display:none"><%= "Learn Event: #{@event.title}" %></span>
            <span class="dtstart" style="display:none"><%= add_to_cal_timestamp(@event.session_start) %></span>
            <span class="dtend" style="display:none"><%= add_to_cal_timestamp(@event.session_end) %></span>
            <span class="description" style="display:none"><%= event_url(@event) %></span>
            <span class="ics_url" style="display:none"><%= event_url(@event, :format => :ics) %></span>
            <span class="vcs_url" style="display:none"><%= event_url(@event, :format => :vcs) %></span>
            
          </span>
        </p>
        
        <p class="location">
          Event Location: <%= auto_link(@event.location.html_safe, :all, :target => "_blank") -%>
        </p>
      <%-end -%>
      
      <%- if @event.is_conference_session? -%>
      <p><%= link_to('Other Sessions at this same time', schedule_conference_path(id: @event.conference.hashtag, datetime: @event.session_start.xmlschema)) %></p>

      <%-if @event.started? -%>
        <%- if current_learner -%>
          <%- if current_learner.is_presenter_for_event?(@event) -%>
            <p><%= link_to('Evaluation results for this session', evaluationresults_event_path(@event)) %></p>
          <%- else -%>
            <p><%= link_to('Evaluate this session', evaluation_event_path(@event)) %></p>
          <%- end -%>
        <%- end -%>
      <%- end -%>
      <% end %>
      
    </aside>

    <%- if current_learner -%>

      <aside id="eventconnections" class="radius10">
        <%= render :partial => 'connections' %>
      </aside>

      <%= render :partial => 'learners' %>
    <%- else -%>
       <aside id="eventconnections" class="radius10 placeholder">
         <%= render(partial: 'sign_in_to_vote')%>
          <%- if @event.started? -%>
            <p class="sitv_element cursor">Did you attend or watch this event or want to follow it?</p>
          <%- else -%>
            <p class="sitv_element cursor"><%= link_to("Follow this event", new_learner_session_path(:redirect_to => request.fullpath)) -%></p>
          <%- end -%>
          </div> <!-- end .sitv_element_wrapper  -->
          <br class="clearing" />
       </aside>
     <%- end -%>


<br class='clearing' />
</div>









