<div class="col-md-7 col-sm-7">
  <section id="event" class="event-main">

    <%- if @event.is_conference_session? -%>
      <div class="conference-info">
        <p><span class="label label-info">Conference Session</span> This event is part of the <%= link_to(@event.conference.name,conference_path(:id => @event.conference.hashtag)) %></p>
        <p id="session_id"><span class="badge badge-info">Session #<%= @event.id %></span></p>
        <h3><%= display_room(@event.room) -%></h3>
        <%- if current_learner -%>
          <p><span class="edit"><%= link_to('edit this event', edit_conference_event_path(@event, :conference_id => @event.conference.id), :class => "editlink") -%></span></p>
        <%- end %>
      </div>
    <% end %>

    <% if @event.cover_image.present? %>
      <div class="event-cover-image">
        <%= image_tag(@event.cover_image_url(:cover)) %>
      </div>
    <% end %>
    <h2 class="event-title"><%= @event.title -%></h2>

      <% if @event.in_progress? %>
        <span class="happening_now"><em>Happening now</em></span>
        <br class="clearing"/>
      <% end %>

      <%-if !@event.concluded? -%>
        <div class="location-section">
          <p>
          <span class="session-date"><%= @event.session_start.strftime("%A, %B %e") -%> at</span>
           <span class="session-time">
              <span id="time"><%= @event.session_start.strftime("%l:%M %p").downcase -%> <span id="timezone"><%= @event.session_start.strftime("%Z") -%></span></span>
           </span>
           </p>
          <p>Location: <%= auto_link(@event.location.html_safe, :all, :target => "_blank") -%></p>
        </div>

      <%- end -%>

      <div class="event-description"><%= @event.description.html_safe -%></div>


  <div class="event-sections">
    <%- if @event.presenters.count > 0 -%>
      <div class="event-presenters">
        <h3 class="event-section-header">Presenters</h3>
        <p id="presenters"><i class="fa fa-user"></i> <%= display_presenters(@event.presenters) %></p>
      </div>
    <%- end -%>

    <% if @event.evaluation_link.present? %>
      <div class="event-section">
  	    <h3>Evaluation</h3>
        <%- if @event.concluded? -%>
          <%= auto_link(@event.evaluation_link.html_safe, :all, :target => "_blank") -%>
        <% else %>
          <p>An evaluation link will appear here after the conclusion of this event.</p>
        <% end %>
      </div>
    <% end %>

    <% if !@event_material_links.blank? %>
      <div class="event-materials">
        <h3 class="event-section-header">Event Materials</h3>
          <%= render partial: 'material_links/material_links_list' %>
      </div>
    <% end %>
  </div>

  <%- if current_learner && current_learner.id == @event.registration_contact_id -%>
    <div class="event-colophon">
      <h3 class="event-section-header">Registration Data</h3>
      <p><small>Registration Contact: <%= link_to_learner(@event.registration_contact) %></small></p>
      <p>
      <% if @registrants != nil %>
        <%= link_to "Export registration data", export_registrants_path(format: "csv", :id => @event.id), :class => "btn btn-default btn-primary" %>
        <%= button_to "Delete registration data", {:controller => :events, :action => 'destroy_registrants', :id => @event.id }, :method => :delete, :confirm => "Are you sure? This will permanantly delete all registrants for this event!", :class => "btn btn-default  btn-danger btn-sm" %>
        <% else %>
          No one has registered for this event.
        <% end %>
      </p>
   </div>
   <br />
   <%- end %>

   <div class="event-colophon">
     <p><small>Created by <%= link_to_learner(@event.creator) %></small></p>

     <%- if current_learner && !@event.is_conference_session? -%>
       <p><small><%= link_to('edit', edit_event_path(@event), :class => "btn btn-default btn-sm") -%> <%= link_to("version history", history_event_path(@event), :class => "btn btn-default btn-sm")%></small></p>
     <%- end %>
   </div>

   </section>

   <div id="comment-section">
    <%= render :partial => 'comments', :locals => {comments: @comments, event: @event} %>
   </div>
</div>

  <div class="col-md-5 col-sm-5">

  <aside class="addthis-wrapper clearing">
    <%= render(:partial => 'addthis') %>
  </aside>
  <aside class="event-time radius10">
      <%-if @event.concluded? -%>
        <h4>Watch</h4>

        <div id="recording_details">
         <%-if @event.has_recording? -%>
           <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong></p>
           <p>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x white"></i>
                <i class='fa fa-play-circle fa-stack-2x play-green'></i>
              </span>
              <strong><%= link_to("Watch recording", @event.recording) -%></strong>
           </p>
          <%-else -%>
            <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong>. A recording of this session has not been uploaded yet.</p>
            <p>
              <span class="fa-stack fa-lg">
                <i class='fa fa-play-circle fa-stack-2x mid-gray'></i>
              </span>
              <strong>No Recording Yet</strong></p>
          <%-end -%>
        </div>
      <%-else -%>

        <h4>

           <span class="calendarblock">
              <span class="month"><%= @event.session_start.strftime("%b") -%></span>
              <span class="date"><%= @event.session_start.strftime("%d") -%></span>
           </span>
           <span class="session-date"><%= @event.session_start.strftime("%A, %B %e") -%> at</span>
           <span class="session-time">
              <span id="time"><%= @event.session_start.strftime("%l:%M %p").downcase -%> <span id="timezone"><%= @event.session_start.strftime("%Z") -%></span></span>
           </span>
        </h4>

        <%- if !current_learner %>
        <%= time_zone_select( :user_selected_timezone, :timezone, ActiveSupport::TimeZone.us_zones, {:default =>timezone_select_default,
                              :include_blank => (timezone_select_default.nil? ? Time.zone.name : nil)}, {:class => "form-control"}) %>
        <%- end -%>

        <h4 class="session-duration"><%= "#{@event.session_length}" -%> minute session</h3>

        <p class="addtocalendar">
          <span id="event_date" class="addtocal">
            <span class="btn btn-default"><i class="fa fa-table"></i> Add to calendar</span>
            <span class="summary" style="display:none"><%= "Learn Event: #{@event.title}" %></span>
            <span class="dtstart" style="display:none"><%= add_to_cal_timestamp(@event.session_start) %></span>
            <span class="dtend" style="display:none"><%= add_to_cal_timestamp(@event.session_end) %></span>
            <span class="description" style="display:none"><%= event_url(@event) %></span>
            <span class="ics_url" style="display:none"><%= event_url(@event, :format => :ics) %></span>
            <span class="vcs_url" style="display:none"><%= event_url(@event, :format => :vcs) %></span>

          </span>
        </p>

        <p class="timezone"><%- if current_learner -%>
          <%- if(!current_learner.has_time_zone?) -%>
           <%= link_to("Set your time zone to display this session in your local time", settings_profile_path()) -%>
          <%- end -%>
        <%- end -%></p>
        <%- if(@event.requires_registration?) -%>
          <div class="form-group registration_form">
            <span class="help-block">You must register in order to see the web address of the event. Return to this page at the time of the live event to enter the room. You will not receive an email record of your registration.</span>


            <%= form_tag(register_learner_path ) do -%>
              <p>
                <%= label_tag("first_name", "First Name") %>
                <%= text_field_tag(:first_name, (@current_learner ? @current_learner.first_name : ""), class: 'form-control') %>
              </p>
              <p>
                <%= label_tag("last_name", "Last Name") %>
                <%= text_field_tag(:last_name, (@current_learner ? @current_learner.last_name : ""), class: 'form-control') %>
              </p>
              <p>
                <%= label_tag("email", "Email") %>
                <%= text_field_tag(:email, (@current_learner ? @current_learner.email : ""), class: 'form-control') %>
              </p>
              <%= hidden_field_tag 'event_id', @event.id %>
              <p class="submit_register">
                <%= submit_tag "Register for event", id: 'register_button', class: "btn btn-default btn-primary", :onclick => "return validateform();" %>
              <p/>
            <%- end -%>
          </div>
        <%- end -%>
        <%-end -%>
        <p class="location"><small><strong>Location:</strong> <%= link_to(truncate(@event.location.html_safe), @event.location.html_safe, :target => "_blank") -%></small></p>
      <%- if @event.is_conference_session? -%>
      <p><%= link_to('Other Sessions at this same time', schedule_conference_path(id: @event.conference.hashtag, datetime: @event.session_start.xmlschema)) %></p>

      <%-if @event.started? -%>
        <%- if current_learner -%>
          <%- if current_learner.is_presenter_for_event?(@event) -%>
            <p><%= link_to('Evaluation results for this session', evaluationresults_event_path(@event)) %></p>
          <%- else -%>
            <p><%= link_to('Evaluate this session', evaluation_event_path(@event)) %></p>
          <%- end -%>
        <%- end -%>
      <%- end -%>
      <% end %>

    </aside>



    <%- if current_learner -%>

      <aside id="eventconnections" class="event-connections radius10">
        <%= render :partial => 'connections' %>
      </aside>

      <%= render :partial => 'learners' %>
    <%- else -%>
       <aside id="eventconnections" class="event-connections radius10 placeholder">
          <%- if @event.started? -%>
            <p>Did you attend or watch this event or want to follow it? <%= link_to("Connect to this event", new_learner_session_path(:redirect_to => request.fullpath)) -%></p>
          <%- else -%>
            <p class="cursor"><%= link_to("Follow this event", new_learner_session_path(:redirect_to => request.fullpath)) -%></p>
          <%- end -%>
          <br class="clearing" />
       </aside>
     <%- end -%>

     <div class="event-tags">
       <div class="tags">
         <h4 class="hide">Tags</h4>
         <p>
           <%-if @event.tags.length != 0 -%>
             <%= display_tags(@event.tags) -%>
           <%-else -%>
             <p class="muted">This event does not have any tags</p>
           <%-end -%>
         </p>
       </div>
     </div>

  <% if @similar_events.count > 0 %>
    <aside>
      <h4 class="subhead_style">Related Events</h4>
      <% @similar_events.each do |event,score| %>
        <%-if !event.concluded? -%>
          <p><span class="related_events"><i class='fa fa-clock-o black'></i> <span class="related-upcoming">Upcoming - </span><%= link_to(event.title, event_path(event.id), :class => "muted_link") -%></span></p>
        <% elsif event.has_recording? %>
          <p><span class="related_events"><i class='fa fa-play-circle play-green'></i> <%= link_to(event.title, event_path(event.id), :class => "muted_link") -%></span></p>
        <% else %>
          <p><span class="related_events"><i class='fa fa-play-circle mid-gray'></i> <%= link_to(event.title, event_path(event.id), :class => "muted_link") -%></span></p>
        <% end %>
       <% end %>
     </aside>
     <% end %>

<br class='clearing' />
</div>
