<div class="span7">
  <section id="event" class="event-main">
    
    <%- if @event.is_conference_session? -%>
      <div class="conference-info">
        <p><span class="label label-info">Conference Session</span> This event is part of the <%= link_to(@event.conference.name,conference_path(:id => @event.conference.hashtag)) %></p>
        <p id="session_id"><span class="badge badge-info">Session #<%= @event.id %></span></p>
        <h3><%= display_room(@event.room) -%></h3>
        <%- if current_learner -%>
          <p><span class="edit"><%= link_to('edit this event', edit_conference_event_path(@event, :conference_id => @event.conference.id), :class => "editlink") -%></span></p>
        <%- end %>
      </div>
    <% end %>
  
    <% if @event.cover_image.present? %>
      <div class="event-cover-image">
        <%= image_tag(@event.cover_image_url(:cover)) %>
      </div>
    <% end %>
  
    <h2 class="event-title"><%= @event.title -%></h2>
      
      <% render(:partial => 'addthis') %>
      
      <% if @event.in_progress? %>
        <span class="happening_now"><em>Happening now</em></span>
        <br class="clearing"/>
      <% end %>
      
      <%-if !@event.concluded? -%>
        <div class="location-section">
          <p>
          <span class="session-date"><%= @event.session_start.strftime("%A, %B %e") -%> at</span>  
           <span class="session-time">
              <span id="time"><%= @event.session_start.strftime("%l:%M %p").downcase -%> <span id="timezone"><%= @event.session_start.strftime("%Z") -%></span></span>
           </span>
           </p>
          <p>Link: <%= auto_link(@event.location.html_safe, :all, :target => "_blank") -%></p>
        </div>
        
      <%- end -%>
      
      <div class="event-description"><%= @event.description.html_safe -%></div>
      
      
  <div class="event-sections">
    <%- if @event.presenters.count > 0 -%>
      <div class="event-presenters">
        <h3 class="event-section-header">Presenters</h3>
        <p id="presenters"><i class="icon-user"></i> <%= display_presenters(@event.presenters) %></p>
      </div>
    <%- end -%>  
    
    <% if @event.evaluation_link.present? %>
      <div class="event-section">
  	    <h3>Evaluation</h3>
        <%- if @event.concluded? -%>
          <%= auto_link(@event.evaluation_link.html_safe, :all, :target => "_blank") -%>
        <% else %>
          <p>An evaluation link will appear here after the conclusion of this event.</p>
        <% end %>
      </div>
    <% end %>
    
    <% if !@event_material_links.blank? %>
      <div class="event-materials">
        <h3 class="event-section-header">Event Materials</h3>
          <%= render partial: 'material_links/material_links_list' %>
      </div>
    <% end %>
  </div>
  
  <div class="event-tags">
    <div class="tags">
      <h4 class="hide">Tags</h4>
      <p>
        <%-if @event.tags.length != 0 -%>
          <%= display_tags(@event.tags) -%>
        <%-else -%>
          <p class="muted">This event does not have any tags</p>
        <%-end -%>
      </p>
    </div>
  </div>
    
   <div class="event-colophon">
     <p><small>Created by <%= link_to_learner(@event.creator) %></small></p>
     
     <%- if current_learner && !@event.is_conference_session? -%>
       <p><small><%= link_to('edit', edit_event_path(@event), :class => "btn btn-small") -%> <%= link_to("version history", history_event_path(@event), :class => "btn btn-small")%></small></p>
     <%- end %>
   </div>
    
   </section>
   

   <div id="comment-section">
    <%= render :partial => 'comments', :locals => {comments: @comments, event: @event} %>
   </div>
</div>

  <div class="span5">
  
  <aside class="event-time radius10">
      <%-if @event.concluded? -%>
        <h4>Watch</h4>

        <div id="recording_details">
         <%-if @event.has_recording? -%>
           <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong></p>
           <p class="recording-available">
              <%= link_to("watch recording", @event.recording) -%>
           </p>
          <%-else -%>
            <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong>. A recording of this session has not been uploaded yet.</p>
            <p class="no-recording-available"><strong>No Recording Yet</strong></p>
          <%-end -%>
        </div>
      <%-else -%>

        <h4>
           
           <span class="calendarblock">
              <span class="month"><%= @event.session_start.strftime("%b") -%></span>
              <span class="date"><%= @event.session_start.strftime("%d") -%></span>
           </span>
           <span class="session-date"><%= @event.session_start.strftime("%A, %B %e") -%> at</span>  
           <span class="session-time">
              <span id="time"><%= @event.session_start.strftime("%l:%M %p").downcase -%> <span id="timezone"><%= @event.session_start.strftime("%Z") -%></span></span>
           </span>
        </h4>
        
        <h4 class="session-duration"><%= "#{@event.session_length}" -%> minute session</h3>
        
        <p class="addtocalendar">
          <span id="event_date" class="addtocal">
            <span class="btn"><i class="icon-calendar"></i> Add to calendar</span>
            <span class="summary" style="display:none"><%= "Learn Event: #{@event.title}" %></span>
            <span class="dtstart" style="display:none"><%= add_to_cal_timestamp(@event.session_start) %></span>
            <span class="dtend" style="display:none"><%= add_to_cal_timestamp(@event.session_end) %></span>
            <span class="description" style="display:none"><%= event_url(@event) %></span>
            <span class="ics_url" style="display:none"><%= event_url(@event, :format => :ics) %></span>
            <span class="vcs_url" style="display:none"><%= event_url(@event, :format => :vcs) %></span>
            
          </span>
        </p>

        <p class="timezone"><%- if current_learner -%>
          <%- if(!current_learner.has_time_zone?) -%>
           <%= link_to("Set your time zone to display this session in your local time", settings_profile_path()) -%>
          <%- end -%>
        <%- end -%></p>

        
        <p><small><strong>Location:</strong> <%= link_to(truncate(@event.location.html_safe), @event.location.html_safe, :target => "_blank") -%></small></p>
      <%-end -%>
      
      <%- if @event.is_conference_session? -%>
      <p><%= link_to('Other Sessions at this same time', schedule_conference_path(id: @event.conference.hashtag, datetime: @event.session_start.xmlschema)) %></p>

      <%-if @event.started? -%>
        <%- if current_learner -%>
          <%- if current_learner.is_presenter_for_event?(@event) -%>
            <p><%= link_to('Evaluation results for this session', evaluationresults_event_path(@event)) %></p>
          <%- else -%>
            <p><%= link_to('Evaluate this session', evaluation_event_path(@event)) %></p>
          <%- end -%>
        <%- end -%>
      <%- end -%>
      <% end %>
      
    </aside>
    
    

    <%- if current_learner -%>

      <aside id="eventconnections" class="event-connections radius10">
        <%= render :partial => 'connections' %>
      </aside>

      <%= render :partial => 'learners' %>
    <%- else -%>
       <aside id="eventconnections" class="event-connections radius10 placeholder">
         <%= render(partial: 'sign_in_to_vote')%>
          <%- if @event.started? -%>
            <p class="sitv_element cursor">Did you attend or watch this event or want to follow it?</p>
          <%- else -%>
            <p class="sitv_element cursor"><%= link_to("Follow this event", new_learner_session_path(:redirect_to => request.fullpath)) -%></p>
          <%- end -%>
          </div> <!-- end .sitv_element_wrapper  -->
          <br class="clearing" />
       </aside>
     <%- end -%>


<br class='clearing' />
</div>









