<%= form_for @event, :html => {:multipart => true} do |event_form| -%>

<div class="venue-info">
<fieldset>
<p>
   <%= event_form.label :location, 'URL for your webinar room or event hosting location' %>
   <%= event_form.text_field :location, :class => "form-control" %>
   <span class="help-block">Please make sure the hosting venue is available before scheduling your event.</span>
   </label>
</p>

<!-- TODO: use the session_start/session_end settings above to determine whether this is shown. -->
<% if @event.concluded? %>
  <p>
     <%= event_form.label :recording, 'Recording URL' %>
     <%= event_form.text_field :recording, :class => "form-control" %>
  </p>
<% end %>
</fieldset>

<fieldset id="datetime">
  <p>
    <%= event_form.label :session_start, 'Date and Time' %>
  </p>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <%= event_form.text_field :session_start_string, {id: 'session_start', :size => nil, :class => "form-control"} %>
    </div>
  </div>

   <p>
   <%= event_form.label :time_zone, 'Time Zone' %>
   <%= event_form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {:default => @event.time_zone}, {:class => "form-control"} %>
   </p>

 </fieldset>

<fieldset id="session_length">
  <p>
    <%= event_form.label :session_length, 'Duration (in minutes)' %>
  </p>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
      <%= event_form.text_field :session_length, :size => 3, :maxlength => 3, :class => "form-control" %>
    </div>
  </div>
</fieldset>
</div>




<fieldset id="event-title">
  <p>
    <%= event_form.label :title, 'Title' %>
    <%= event_form.text_field :title, :size => nil, :class => "form-control edit-event-title" %>
    <span class="help-block">Titles which are 80 characters or less are more easily shared via social media and texting</span>
  </p>
</fieldset>

<fieldset id="presenters">
  <p>
    <%= event_form.label :presenter_tokens, "Presenters" %>
    <%= event_form.text_field :presenter_tokens, "data-pre" => @event.presenter_tokens_tokeninput.to_json  %>
  </p>
</fieldset>

<fieldset id="description">
  <p>
    <%= event_form.label :description, 'Description' %>
    <%= event_form.text_area :description, {:rows => "12", :class => "wysihtml5 form-control"} %>
  </p>
</fieldset>

<fieldset class="cover-image">
  <p class="fieldset-title">Cover Image</h3>
  <p class="help-block">Displays across the top of your event, scaled to fit width. Recommended dimensions: 1000px x 525px.</p>
  <div class="cover-image-summary">
  <% if @event.cover_image.present? %>
    <p class="delete-image">
      <%= image_tag(@event.cover_image_url(:cover)) %>
      <label>
        <%= event_form.check_box :remove_cover_image %>
        Delete cover image
      </label>
    </p>
  <% else %>

  <p class="clearing image-picker">
    <%= event_form.file_field :cover_image %>
    <%= event_form.hidden_field :cover_image_cache %>
  </p>
  <% end %>
  </div>
</fieldset>



 </fieldset>

 <%= event_form.hidden_field :tag_list %>
 <div id="tag_interface" class="tag_interface">

   <div id="tag_picker_wrapper">
     <div class="ui-widget">
       <label for="tag_picker">Add Tags</label>
   	  <input id="tag_picker" placeholder="Type a word and select it..." />
     </div>
   </div>


   <div id="tag_list">
   <% if @event.tags.size > 0 %>
     <% @event.tags.each do |tag| %>
       <p id="tag_<%= tag.name %>"><span class="tag tag-topic"><span><%= tag.name %></span></span><span class="btn btn-default removetag">x</span></p>
     <% end %>
   <% end %>
   </div>
 </div>

 <fieldset class="evaluation-url">
   <p>
     <%= event_form.label :evaluation_link, 'Participant evaluation URL (optional)' %>
     <%= event_form.text_field :evaluation_link, :class => "form-control" %>
     <span class="help-block">Displays once the event has concluded</span>
   </p>
 </fieldset>

  <% if @event.registration_contact_id == Learner::BRIGITTE_SCOTT and !current_learner.is_admin? %>
    <fieldset class="learner-registration">
      <span class="help-block">
        <%= event_form.check_box :requires_registration, disabled: true %>
        Registration contact is Brigitte Scott.
      </span>
     </p>
   </fieldset>
  <% else %>
    <fieldset class="learner-registration">
      <p>
        <%= event_form.check_box :requires_registration %>
        <%= event_form.label :requires_registration, 'Require participants to register (optional)' %>
        <%= text_field_tag :registration_contact, @event.registration_contact_id.blank? ? "" : @event.registration_contact.name %>
        <%= event_form.hidden_field :registration_contact_id %>
        <span class="help-block">Participants cannot view Event Location until they enter email and name. Check the box above to enable registration and choose a single registration contact to access registration data. Type a least two characters of the user name to see a list of available users. </span>
      </p>
    </fieldset>
  <% end %>
 <fieldset class="learner-registration-email">
   <%= event_form.label :registration_description, 'Emailed Description' %>
   <span class="help-block">Enter the description you want emailed to registrants in this box. If you leave this box blank then the full description of the event will be emailed to registrants. </span>
   <%= event_form.text_area :registration_description, :rows => "8", :cols => "100" %>
 </fieldset>
<fieldset>
  <div class="material-links-wrapper">
    <p><%= link_to_add_association 'Add event materials', event_form, :material_links, { form_name: 'event_form', 'data-association-insertion-method' => 'after', :class => "btn btn-default" } %><p>

    <%= event_form.fields_for :material_links do |material_link| %>
      <%= render 'material_link_fields', event_form: material_link %>
    <% end %>
  </div>
</fieldset>

<p>
  <%= submit_tag 'Save', :class => "btn btn-default btn-primary btn-lg" %>
  <%- if @event.id %>
    <%= link_to("cancel", event_path(@event.id), :class => "cancel") -%>
  <%- else -%>
    <%= link_to("cancel", root_path(), :class => "cancel") -%>
  <%- end -%>
</p>

<%- end -%>

 <script class="code" type="text/javascript">
   $('#session_start').datetimepicker({
    dateFormat: 'yy-mm-dd',
   	ampm: true
   });

   $(function () {
     $('#event_presenter_tokens').tokenInput('<%= token_search_learners_path %>', {
       crossDomain: false,
       prePopulate: $('#event_presenter_tokens').data('pre'),
       theme: 'facebook'
     });
   });

   // create an instance of autocomplete plus a hack for using the 'enter' key instead of direct selection
     $(document).ready(function(){

         $("#tag_picker").autocomplete({
           source: "/ajax/tags",
     			minLength: 2,
     			select: function(e, ui) {
     			  add_tag(ui.item.name);
     			  $("#tag_picker").val('');
     			  return false;
     			}
     		}).keypress(function(e) {
           if (e.keyCode === 13) {
             if ($.trim(this.value) != "") {
               add_tag(this.value);
               $("#tag_picker").val('');
               return false;
             } else {
               $("#tag_picker").val('');
       				return false;
             }
           }
         }).data( "autocomplete" )._renderItem = function( ul, item ) {
           return $( "<li></li>" )
           .data( "item.autocomplete", item )
           .append( "<a>"+ item.label + " <strong>(" + item.tag_count + ")</strong></a>" )
           .appendTo( ul );
         };

         $('#registration_contact').autocomplete({
            source: "/ajax/registration_contact",
            minLength: 2,
            select: function(event, ui) {
              $('#event_registration_contact_id').val(ui.item.id);
              $('#registration_contact').val(ui.item.name);
              return false;
            }
          });

     });

     function add_tag(tag) {
       $("<p id='tag_"+tag+"'><span class='tag tag-topic'><span>"+tag+"</span></span> <span class='removetag'>x</span></p>" ).prependTo( "#tag_list" );
       $('#event_tag_list').val($('#event_tag_list').val() + ', ' + tag);
       $("#tag_picker").autocomplete("close");
  		};

     // remove tags
      $("#tag_list").on("click", ".removetag", function(){
        var tag = $(this).closest("p");
        var tag_name = tag.attr("id").replace('tag_', '');
        var current_list = $('#event_tag_list').val();
        new_list = current_list.replace(tag_name, "");
        $('#event_tag_list').val(new_list);
        tag.fadeOut(500);
      });

 </script>
