<h3><%= question.prompt %></h3>

<%- if !current_learner -%>
  <div class="signintovote">
    <p>Sign in to vote</p>
  </div>
<%- else -%>

<!-- Answer Form -->
<div class="question_answers">
<%= form_tag(addanswer_event_url(@event), {remote: true, id: "answer_form_for_question_#{question.id}"}) do -%>
  <ul class="inputs-list a_b">
  <%= hidden_field_tag('question', question.id) %>
    <li>
      <label>
        <%= radio_button_tag('values',0, is_boolean_answer_checked?(question,0), {class: 'submittable'}) %> <span><%= question.responses[0] %></span>
      </label>
    </li>
    <li>
      <label>
        <%= radio_button_tag('values',1, is_boolean_answer_checked?(question,1), {class: 'submittable'}) %> <span><%= question.responses[1] %></span>
      </label>
    </li>
  </ul>
<%- end -%>
</div>

<script class="code" type="text/javascript">
  <%- if !current_learner -%>
    // disable all form elements since not authenticated
    $(document).ready(function(){
      $('#answer_form_for_question_<%= question.id %> :input').attr('disabled', true);
    });
  <%- end -%>
</script>
<%- end -%>

<!-- Answers -->
<%- if !question.answers.blank? -%>
  <div id="question_chart_<%= question.id %>" style="height:160px; width:160px;"></div> 
  <script class="code" type="text/javascript">
    $(document).ready(function(){
      var data = <%= jqplot_piegraph_data(question) %>
      var plot1 = jQuery.jqplot ("question_chart_<%= question.id %>", [data], 
        { 
          seriesDefaults: {
            // Make this a pie chart.
            renderer: jQuery.jqplot.PieRenderer, 
            shadow: false,
            rendererOptions: {
              // Put data labels on the pie slices.
              // By default, labels show the percentage of the slice.
              showDataLabels: true,
              padding: 0,
            },
            seriesColors: [ "#8bc7f6", "#ddd", "#c5b47f"],
          },
          grid: {
            shadow: false,
            borderColor: '#ccc',
            borderWidth: 0,
            background: '#fff'
          }
        }
      );
    });
  </script>
<%- end -%>

<br class="clearing" />