<h3><%= question.prompt %></h3>

<!-- Answer Form -->
<div class="question_answers">
  <%- if !current_learner -%>
    <div class="signintovote">
      <p>Sign in to vote</p>
  <%- end -%>
<%= form_tag(addanswer_event_url(@event), {remote: true, id: "answer_form_for_question_#{question.id}"}) do -%>
  <%= hidden_field_tag('question', question.id) %>
  <ul class="inputs-list a_mvb">
  <% question.responses.each do |response| %>
      <li>
        <label><%= check_box_tag('values[]',response,is_multivote_answer_checked?(question,response),{class: 'submittable'}) %> <span><%= response %></span></label>
      </li>
  <%- end -%>
  </ul>
<%- end -%>

<%- if !current_learner -%>
  </div>
<%- end -%>
</div>
<script class="code" type="text/javascript">
  <%- if !current_learner -%>
    // disable all form elements since not authenticated
    $(document).ready(function(){
      $('#answer_form_for_question_<%= question.id %> :input').attr('disabled', true);
    });
  <%- end -%>
</script>


<!-- Answers -->
<%- if !question.answers.blank? -%>
  <div id="question_chart_<%= question.id %>" style="height:160px; width:160px;"></div> 
  <script class="code" type="text/javascript">
    $(document).ready(function(){
      var data = <%= jqplot_piegraph_data(question) %>
      var plot1 = jQuery.jqplot ("question_chart_<%= question.id %>", [data], 
        { 
          seriesDefaults: {
            // Make this a pie chart.
            renderer: jQuery.jqplot.PieRenderer,
            shadow: false,
            rendererOptions: {
              // Put data labels on the pie slices.
              // By default, labels show the percentage of the slice.
              showDataLabels: true,
              padding: 0,
            }
          },
          seriesColors: [ "#8bc7f6", "#ddd", "#003a92", "#3e83eb", "#839557", "#958c12", "#953579", "#4b5de4", "#d8b83f", "#ff5800", "#0085cc"],
          grid: {
            shadow: false,
            borderColor: '#ccc',
            borderWidth: 0,
            background: '#fff'
          },
        }
        
      );
    });
  </script>
  <%- else -%>
  <div class="question_chart_placeholder" style="height:160px; width:160px;">
    <div>
      <span>No votes yet</span>
    </div>
    <%= image_tag("graph_placeholder_multi.png", :size => "160x160",) %>
  </div>
  <%- end -%>

<br class="clearing" />