<div class="event-ratings-wrapper">
<div class="rating_wrapper">
  <% if current_learner %>
      <% if upvoted_object = current_learner.get_upvoted_object(@event.id, 'Event') %>
        <span id='undo_vote_event_<%= @event.id %>'><%= button_to '-', rating_path(upvoted_object), :method => :delete, :remote => true, :class => "btn" %></span>
      <% else %>
        <span id='upvote_event_<%= @event.id %>'><%= button_to '+', ratings_path(:rating => {:rateable_id => @event.id, :rateable_type => 'Event', :score => 1}), :method => :post, :remote => true, :class => "btn btn-primary" %></span>
      <% end %>
    <% else %>
      <%= render(partial: 'sign_in_to_vote')%>
      <%= button_to '+', {}, {:class => "btn signintovote sitv_element", :disabled => true} %>
      </div> <!-- end .sitv_element_wrapper  -->
    <% end %>
    <div id="event_votes" class="rating_detail">
      <%= render :partial => '/partials/ratings', locals: {rateable_object: @event} %>
    </div>
</div>
<br class="clearing" />
</div>