<% @page_title = @event.title + " - " +  @event.session_start.strftime("%b %e, %Y") + ' - Backstage' %>

<div class="col-md-10 col-md-offset-1">
<div id="behindthescenes">
<h1 class="behind-title">Participation & Connections Report</h1>
<h2><%= link_to @event.title, event_path(@event.id) %></h2>
<p><%= @event.session_start.strftime("%b %e, %Y") %></p>



<section>
<%- if !@event.is_extension_webinar? -%>
  <div class="non-extension-webinar">
    <p>There is no Zoom Webinar Data available because this event is not an eXtension Webinar</p>
    <p>Additional info: <%= display_non_extension_webinar_status_for_event(@event) -%></p>
  </div>
<%- else -%>
  <%- if @event.zoom_webinar_status != Event::WEBINAR_STATUS_OK -%>
  <p>Zoom Webinar Data not available</p>
  <p>Reason: <%= display_extension_webinar_status_for_event(@event) -%></p>
  <%- else -%>
  <%- connection_counts = @event.zoom_webinar.connection_counts -%>

  <h2>Zoom Registration and Attendance</h2>
  <p>These numbers are extracted from Zoom webinar participation data</p>

  <div class="event-stats">

    <div class="col-md-6">
      <div class="event-stat">
        <span class="top-level-number"><%= connection_counts[:registered][:total] -%></span>
        <span class="top-level-type">Total <%= "registrant".pluralize(connection_counts[:registered][:total]) %></span>
        <div class="participant-breakdown">
        <p>
          <small><%= connection_counts[:registered][:extension_account] -%> <%= "eXtension account".pluralize(connection_counts[:registered][:extension_account]) %></small>
        </p>
        <p>
          <small><%= connection_counts[:registered][:other_account] -%> other registrations <sup class="data-footnote-asterisk">*</sup></small>
        </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="event-stat">
        <span class="top-level-number"><%= connection_counts[:attended][:total] -%></span>
        <span class="top-level-type">Total <%= "attendee".pluralize(connection_counts[:attended][:total]) %></span>
        <div class="participant-breakdown">
        <p>
          <small><%= connection_counts[:attended][:extension_account] -%> <%= "eXtension account".pluralize(connection_counts[:attended][:extension_account]) %></small>
        </p>
        <p>
          <small><%= connection_counts[:attended][:other_account] -%> other attendees <sup class="data-footnote-asterisk">*</sup></small>
        </p>
        </div>
      </div>
    </div>

    <p class="data-footnote">* Additional information is not available here because the Zoom participation data could not be mapped to Learn accounts</p>


  </div>

  <%- end -%>
<%- end -%>
<br class="clearing" />
</section>

<h2>Learn Account Connections</h2>
<%- if !@event.is_extension_webinar? -%>
  <p>These numbers reflect activity within the Learn application</p>
<%- else -%>
  <%- if @event.zoom_webinar_status != Event::WEBINAR_STATUS_OK -%>
    <p>These numbers reflect activity within the Learn application</p>
  <%- else -%>
    <p>These numbers reflect activity within the Learn application, as well as connections created on behalf of Learn accounts matched from Zoom registrations and attendance.</p>
  <%- end -%>
<%- end -%>
<div class="event-stats">

  <div class="col-md-4">
    <div class="event-stat">
      <span class="top-level-number"><%= @attendees_count -%></span>
      <span class="top-level-type"><%= "attendee".pluralize(@attendees_count) %></span>
    </div>
  </div>

  <div class="col-md-4">
    <div class="event-stat">
      <span class="top-level-number"><%= @viewers_count -%></span>
      <span class="top-level-type"><%= "viewer".pluralize(@viewers_count) %></span>
    </div>
  </div>

  <div class="col-md-4">
    <div class="event-stat">
      <span class="top-level-number"><%= @followers_count -%></span>
      <span class="top-level-type"><%= "follower".pluralize(@followers_count) %></span>
    </div>
  </div>

  <br class="clearing" />
</div>

<section>
  <h3>Comments</h3>
  <% filtered_comment_count = get_filtered_comment_count(@event) %>
  <% filtered_commentators = get_filtered_commentators(@event) %>

  <%- if filtered_comment_count > 0 -%>
    <p><strong><%= filtered_comment_count -%></strong> <%= filtered_comment_count > 1 ? "comments" : "comment" %> by <strong><%= filtered_commentators.count -%></strong> <%= filtered_commentators.count > 1 ? "people" : "person" %></p>

    <%- if params[:type] == "table" %>
      <table class="table people table-striped">
        <%- filtered_commentators.each do |commenter| %>
        <tr>
          <td class="avatar_td"><%= link_to_learner_avatar(commenter, {image_size: :thumb}) -%></td>
          <td class="name_td"><%= link_to_learner(commenter) %></td>
        </tr>
        <%- end -%>
        </table>
    <%- end -%>

  <%- else -%>
    <p class="muted">0 comments</p>
  <%- end -%>
</section>

<%- if (@event.is_online_session? && @event.answers.count > 0) -%>
  <h3>View questions</h3>
<%- end -%>


</div>
</div>

<div class="col-md-10 col-md-offset-1">
<div id="behindthescenes">
<section>
<%- if @attendees_count > 0 -%>
  <h3><%= @attendees_count -%> <%= "Attendee".pluralize(@attendees_count) %> (with Learn Accounts)</h3>
  <div class="column">
    <%- @event.attendees.each do |attendee| %>
      <p><%= link_to_learner(attendee, {event_types: ['attended']}) %></p>
    <%- end -%>
  </div>
<%- end -%>

<%- if @viewers_count > 0 -%>
  <h3><%= @viewers_count -%> Watched (with Learn Accounts)</h3>
  <div class="column">
    <%- @event.viewers.each do |watcher| %>
      <p><%= link_to_learner(watcher, {event_types: ['watched']}) %></p>
    <%- end -%>
  </div>
<%- end -%>

<%- if @followers_count > 0 -%>
  <h3><%= @followers_count -%> Followed (with Learn Accounts)</h3>
  <div class="column">
    <%- @event.followers.each do |follower| %>
      <p><%= link_to_learner(follower, {event_types: ['followed']}) %></p>
    <%- end -%>
  </div>
<%- end -%>
<br class="clearing" />
</section>

</div>
</div>
