<% @page_title = @event.title + " - " +  @event.session_start.strftime("%b %e, %Y") + ' - Backstage' %>

<div id="behindthescenes">
<h1>Behind the scenes at <small><%= link_to @event.title + " (" +  @event.session_start.strftime("%b %e, %Y") + ")", event_path(@event.id) %></small></h1>

<%= link_to "Grid view", backstage_event_path(@event.id) %> <%= link_to "Table view", backstage_event_path(@event.id, :type => "table") %>

<%- attendee_count = @event.attendees.count -%>
<%- watched_count = @event.watched.count -%>
<%- bookmarked_count = @event.bookmarked.count -%>

<section>
  <h3>Event up-votes</h3>
  
  <%- if @event.ratings.count > 0 -%>
    <p><strong><%= @event.ratings.count -%></strong> <%= @event.ratings.count > 1 ? "people" : "person" %></p>

    
    <%- if params[:type] == "table" %>
      <table class="table people table-striped">
        <%- @event.raters.each do |rater| %>
        <tr>
          <td class="avatar_td"><%= link_to_learner_avatar(rater, {image_size: :thumb, event_types: ['rated']}) -%></td>
          <td class="name_td"><%= link_to_learner(rater, {event_types: ['rated']}) %></td>
        </tr>
        <%- end -%>
        </table>
    <%- else -%>
      <ul class="learner_list">
        <%- @event.raters.each do |rater| %>
          <li><%= link_to_learner_avatar(rater, {image_size: :thumb, event_types: ['rated']}) -%></li>
        <%- end -%>
      </ul>
      <br class="clearing" />
    <%- end -%>
    

  <%- else -%>
      <p class="zero_activity">0 votes</p>
  <%- end -%>
</section>

<section>
  <h3>Comments</h3>
  <% filtered_comment_count = get_filtered_comment_count(@event) %>
  <% filtered_commentators = get_filtered_commentators(@event) %>
  
  <%- if filtered_comment_count > 0 -%>
    <p><strong><%= filtered_comment_count -%></strong> <%= filtered_comment_count > 1 ? "comments" : "comment" %> by <strong><%= filtered_commentators.count -%></strong> <%= filtered_commentators.count > 1 ? "people" : "person" %></p>
    
    <%- if params[:type] == "table" %>
      <table class="table people table-striped">
        <%- filtered_commentators.each do |commenter| %>
        <tr>
          <td class="avatar_td"><%= link_to_learner_avatar(commenter, {image_size: :thumb}) -%></td>
          <td class="name_td"><%= link_to_learner(commenter) %></td>
        </tr>
        <%- end -%>
        </table>
    <%- else -%>
      <ul class="learner_list">
        <%- filtered_commentators.each do |commenter| %>
          <li><%= link_to_learner_avatar(commenter, {image_size: :thumb}) -%></li>
        <%- end -%>
      </ul>
      <br class="clearing" />
    <%- end -%>
    
  <%- else -%>
    <p class="zero_activity">0 comments</p>
  <%- end -%>
</section>

<section id="event_questions">
<h3>Questions</h3>
<%- if @event.started? %>
   <%- @event.questions.each do |question| -%>
   
    <div class="event_question">
      <h4>"<%= question.prompt %>"</h4>
      <ul class="question_answers">
      <%- question.answer_data.each do |(response,total)| -%>
        <li><span>"<%= response %>"</span> <strong><%= total %></strong></li>
      <%- end -%>
      </ul>
      <br class="clearing" />
      <p><strong><%= question.answer_data.map{|(response,total)| total}.sum %></strong> people answered</p>
      
       <%- if params[:type] == "table" %>
          <table class="table people table-striped">
            <%- question.answerers.each do |answerer| %>
            <tr>
              <td class="avatar_td"><%= link_to_learner_avatar(answerer, {image_size: :thumb, event_types: ['answered']}) -%></td>
              <td class="name_td"><%= link_to_learner(answerer, {event_types: ['answered']}) %></td>
            </tr>
            <%- end -%>
            </table>
        <%- else -%>
          <ul class="learner_list">
             <%- question.answerers.uniq.each do |answerer| %>
               <li><%= link_to_learner_avatar(answerer, {image_size: :thumb, event_types: ['answered']}) -%></li>
             <%- end -%>
           </ul>
           <br class="clearing" />
        <%- end -%>
        

    </div>
    <%- end -%>
<%- end -%>
<br class="clearing" />
</section>


<section>
<h3>Connections</h3>
<h4>Attended</h4>
<%- if attendee_count > 0 -%>
  <p><strong><%= attendee_count -%></strong> <%= attendee_count > 1 ? "attendees" : "attendee" %></p>
  
  
   <%- if params[:type] == "table" %>
      <table class="table people table-striped">
        <%- @event.attendees.each do |attendee| %>
        <tr>
          <td class="avatar_td"><%= link_to_learner_avatar(attendee, {image_size: :thumb, event_types: ['attended']})  -%></td>
          <td class="name_td"><%= link_to_learner(attendee, {event_types: ['attended']}) %></td>
        </tr>
        <%- end -%>
        </table>
    <%- else -%>
      <ul class="learner_list">
        <%- @event.attendees.each do |attendee| %>
          <li><%= link_to_learner_avatar(attendee, {image_size: :thumb, event_types: ['attended']})  -%></li>
        <%- end -%>
      </ul>

    <%- end -%>
  
  
  
<%- else -%>
  <p class="zero_activity margin">0 attendees</p>
<%- end -%>

<h4>Watched</h4>
<%- if watched_count > 0 -%>
  <p><strong><%= watched_count -%></strong> watched</p>
  
  <%- if params[:type] == "table" %>
      <table class="table people table-striped">
        <%- @event.watched.each do |watcher| %>
        <tr>
          <td class="avatar_td"><%= link_to_learner_avatar(watcher, {image_size: :thumb, event_types: ['watched']}) -%></td>
          <td class="name_td"><%= link_to_learner(watcher, {event_types: ['watched']}) %></td>
        </tr>
        <%- end -%>
        </table>
    <%- else -%>
      <ul class="learner_list">
        <%- @event.watched.each do |watcher| %>
          <li><%= link_to_learner_avatar(watcher, {image_size: :thumb, event_types: ['watched']}) -%></li>
        <%- end -%>
      </ul>

    <%- end -%>
  
  
  
<%- else -%>
  <p class="zero_activity margin">0 watched</p>
<%- end -%>

<h4>Followed</h4>
<%- if bookmarked_count > 0 -%>
  <p><strong><%= bookmarked_count -%></strong> followed</p>
  
  
  <%- if params[:type] == "table" %>
      <table class="table people table-striped">
        <%- @event.bookmarked.each do |bookmarker| %>
        <tr>
          <td class="avatar_td"><%= link_to_learner_avatar(bookmarker, {image_size: :thumb, event_types: ['bookmarked']}) -%></td>
          <td class="name_td"><%= link_to_learner(bookmarker, {event_types: ['bookmarked']}) %></td>
        </tr>
        <%- end -%>
        </table>
    <%- else -%>
      <ul class="learner_list">
        <%- @event.bookmarked.each do |bookmarker| %>
          <li><%= link_to_learner_avatar(bookmarker, {image_size: :thumb, event_types: ['bookmarked']}) -%></li>
        <%- end -%>
      </ul>

    <%- end -%>
  
  
<%- else -%>
  <p class="zero_activity margin">0 followed</p>
<%- end -%>
<br class="clearing" />
</section>

</div>

<script class="code" type="text/javascript">
  $("#event_questions .event_question:last").addClass("last");
</script>