<% @page_title = @event.title + " - " +  @event.session_start.strftime("%b %e, %Y") + ' - Backstage' %>

<div class="col-md-10 col-md-offset-1">
<div id="behindthescenes">
<h1 class="behind-title">Participation & Connections Report</h1>
<h2><%= link_to @event.title, event_path(@event.id) %></h2>
<p><%= @event.session_start.strftime("%b %e, %Y") %></p>


<%- if(current_learner and @event.is_mfln_registration_event? and current_learner.is_mfln_registration_contact?) -%>
  <div class="event-colophon">
    <h3 class="event-section-header">MFLN Private Registration Data</h3>
    <p>This data is available only to MFLN Registration Contacts</p>
    <p>
    <%- if @event.event_registrations.count > 0 -%>
      <p><strong><%= pluralize(@event.event_registrations.count, "email address") -%></strong> <%= (@event.event_registrations.count > 1) ? 'are' : 'is' -%> registered for this event</p>
      <p><%= link_to "Export registration data", learn_registrants_path(format: "csv", :id => @event.id), :class => "btn btn-default btn-primary" %></p>
      <%= button_to "Delete registration data", {:controller => :events, :action => 'destroy_registrants', :id => @event.id }, :method => :delete, :confirm => "Are you sure? This will permanantly delete all registrants for this event!", :class => "btn btn-default  btn-danger btn-sm" %>

    <%- else -%>
        No one has registered for this event.
      <%- end -%>
    </p>
 </div>
 <br />
 <%- end %>


<section>
<%- if !@event.is_extension_webinar? -%>
  <div class="non-extension-webinar">
    <p>There is no Zoom Webinar Data available because this event is not an eXtension Webinar</p>
    <p>Additional info: <%= display_non_extension_webinar_status_for_event(@event) -%></p>
  </div>
<%- else -%>
  <%- if @event.zoom_webinar_status != Event::WEBINAR_STATUS_OK -%>
  <p>Zoom Webinar Data not available</p>
  <p>Reason: <%= display_extension_webinar_status_invalid_reason(@event) -%></p>
  <%- else -%>
  <%- connection_counts = @event.zoom_webinar.connection_counts -%>

  <h2>Zoom Registration and Attendance</h2>
  <p>These numbers are extracted from Zoom webinar participation data</p>

  <div class="event-stats">

    <div class="col-md-6">
      <div class="event-stat">
        <span class="top-level-number"><%= connection_counts[:registered][:total] -%></span>
        <span class="top-level-type">Total <%= "registrant".pluralize(connection_counts[:registered][:total]) %></span>
        <div class="participant-breakdown">
        <p>
          <small><%= connection_counts[:registered][:extension_account] -%> <%= "eXtension account".pluralize(connection_counts[:registered][:extension_account]) %></small>
        </p>
        <p>
          <small><%= connection_counts[:registered][:other_account] -%> other registrations <sup class="data-footnote-asterisk">*</sup></small>
        </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="event-stat">
        <span class="top-level-number"><%= connection_counts[:attended][:total] -%></span>
        <span class="top-level-type">Total <%= "attendee".pluralize(connection_counts[:attended][:total]) %></span>
        <div class="participant-breakdown">
        <p>
          <small><%= connection_counts[:attended][:extension_account] -%> <%= "eXtension account".pluralize(connection_counts[:attended][:extension_account]) %></small>
        </p>
        <p>
          <small><%= connection_counts[:attended][:other_account] -%> other attendees <sup class="data-footnote-asterisk">*</sup></small>
        </p>
        </div>
      </div>
    </div>

    <p class="data-footnote">* Additional information is not available here because the Zoom participation data could not be mapped to Learn accounts</p>


  </div>

  <%- end -%>
<%- end -%>
<br class="clearing" />
</section>

<h2>Learn Account Connections</h2>
<%- if !@event.is_extension_webinar? -%>
  <p>These numbers reflect activity within the Learn application</p>
<%- else -%>
  <%- if @event.zoom_webinar_status != Event::WEBINAR_STATUS_OK -%>
    <p>These numbers reflect activity within the Learn application</p>
  <%- else -%>
    <p>These numbers reflect activity within the Learn application, as well as connections created on behalf of Learn accounts matched from Zoom registrations and attendance.</p>
  <%- end -%>
<%- end -%>
<div class="event-stats">

  <div class="col-md-4">
    <div class="event-stat">
      <span class="top-level-number"><%= @attendees_count -%></span>
      <span class="top-level-type"><%= "attendee".pluralize(@attendees_count) %></span>
    </div>
  </div>

  <div class="col-md-4">
    <div class="event-stat">
      <span class="top-level-number"><%= @viewers_count -%></span>
      <span class="top-level-type"><%= "viewer".pluralize(@viewers_count) %></span>
    </div>
  </div>

  <div class="col-md-4">
    <div class="event-stat">
      <span class="top-level-number"><%= @followers_count -%></span>
      <span class="top-level-type"><%= "follower".pluralize(@followers_count) %></span>
    </div>
  </div>

  <br class="clearing" />
</div>

</div>
</div>

<div class="col-md-10 col-md-offset-1">
<div id="behindthescenes">
<section>
<%- if @attendees_count > 0 -%>
  <h3><%= @attendees_count -%> <%= "Attendee".pluralize(@attendees_count) %> (with Learn Accounts)</h3>
  <div class="column">
    <%- @event.attendees.each do |attendee| %>
      <p><%= link_to_learner(attendee, {event_types: ['attended']}) %></p>
    <%- end -%>
  </div>
<%- end -%>

<%- if @viewers_count > 0 -%>
  <h3><%= @viewers_count -%> Viewed (with Learn Accounts)</h3>
  <div class="column">
    <%- @event.viewers.each do |watcher| %>
      <p><%= link_to_learner(watcher, {event_types: ['viewed']}) %></p>
    <%- end -%>
  </div>
<%- end -%>

<%- if @followers_count > 0 -%>
  <h3><%= @followers_count -%> Followed (with Learn Accounts)</h3>
  <div class="column">
    <%- @event.followers.each do |follower| %>
      <p><%= link_to_learner(follower, {event_types: ['followed']}) %></p>
    <%- end -%>
  </div>
<%- end -%>
<br class="clearing" />
</section>

</div>
</div>
