<% @page_title = @event.title + " - " +  @event.session_start.strftime("%b %e, %Y") + ' - Details' %>

<div id="behindthescenes">
<h1>Behind the scenes at <small><%= link_to @event.title + " (" +  @event.session_start.strftime("%b %e, %Y") + ")", event_path(@event.id) %></small></h1>

<%- attendee_count = @event.attendees.count -%>
<%- watched_count = @event.watched.count -%>
<%- bookmarked_count = @event.bookmarked.count -%>

<section>
  <h3>Event up-votes</h3>
  
  <%- if @event.ratings.count > 0 -%>
    <p><strong><%= @event.ratings.count -%></strong> <%= @event.ratings.count > 1 ? "people" : "person" %></p>
    <ul class="learner_list">
      <%- @event.raters.each do |rater| %>
        <li><%= get_avatar(rater, :thumb, :link_it) -%></li>
      <%- end -%>
    </ul>
    <br class="clearing" />
  <%- else -%>
      <p class="zero_activity">0 votes</p>
  <%- end -%>
</section>

<section>
  <h3>Comments</h3>
  <%- if @event.comments.count > 0 -%>
    <p><strong><%= @event.comments.count -%></strong> <%= @event.ratings.count > 1 ? "comments" : "comment" %> by <strong><%= @event.commentators.count -%></strong> <%= @event.commentators.count > 1 ? "people" : "person" %></p>
    <ul class="learner_list">
      <%- @event.commentators.each do |commenter| %>
        <li><%= get_avatar(commenter, :thumb, :link_it) -%></li>
      <%- end -%>
    </ul>
    <br class="clearing" />
  <%- else -%>
    <p class="zero_activity">0 comments</p>
  <%- end -%>
</section>


<section id="event_questions">
<h3>Questions</h3>
<%- if @event.started? %>
   <%- @event.questions.each do |question| -%>
   
    <div class="event_question">
      <h4>"<%= question.prompt %>"</h4>
      <ul class="question_answers">
      <%- question.answer_data.each do |(response,total)| -%>
        <li><span>"<%= response %>"</span> <strong><%= total %></strong></li>
      <%- end -%>
      </ul>
      <br class="clearing" />
        <p><strong><%= question.answer_data.map{|(response,total)| total}.sum %></strong> people answered</p>
        <ul class="learner_list">
           <%- question.answerers.uniq.each do |rater| %>
             <li><%= get_avatar(rater, :thumb, :link_it) -%></li>
           <%- end -%>
         </ul>
         <br class="clearing" />
    </div>
    <%- end -%>
<%- end -%>
<br class="clearing" />
</section>


<section>
<h3>Connections</h3>
<h4>Attended (<%= attendee_count -%>)</h4>
<%- if attendee_count > 0 -%>
  <ul class="learner_list">
    <%- @event.attendees.each do |attendee| %>
      <li><%= get_avatar(attendee, :thumb, :link_it) -%></li>
    <%- end -%>
  </ul>
<%- else -%>
  <ul class="learner_list">
    <li><span class="empty_avatar"></span></li>
  </ul>
<%- end -%>

<h4>Watched (<%= watched_count -%>)</h4>
<%- if watched_count > 0 -%>
  <ul class="learner_list">
    <%- @event.watched.each do |watcher| %>
      <li><%= get_avatar(watcher, :thumb, :link_it) -%></li>
    <%- end -%>
  </ul>
<%- else -%>
  <ul class="learner_list">
    <li><span class="empty_avatar"></span></li>
  </ul>
<%- end -%>

<h4>Bookmarked (<%= bookmarked_count -%>)</h4>
<%- if bookmarked_count > 0 -%>
  <ul class="learner_list">
    <%- @event.bookmarked.each do |bookmarker| %>
      <li><%= get_avatar(bookmarker, :thumb, :link_it) -%></li>
    <%- end -%>
  </ul>
<%- else -%>
  <ul class="learner_list">
    <li><span class="empty_avatar"></span></li>
  </ul>
<%- end -%>
<br class="clearing" />
</section>

</div>

<script class="code" type="text/javascript">
  $("#event_questions .event_question:last").addClass("last");
</script>