<% @page_title = "Revision History for Event ##{@event.id}"%>

<h2><%= link_to 'Revision History', history_event_path(@event.id) %> / Revision Comparison</h2>
<h3><%= link_to @event.title + " (" +  @event.session_start.strftime("%b %e, %Y") + ")", event_path(@event.id) %></h3>

<div class="revision_description_wrapper">
  <p class="revision_description">
    <% if @version == @event.versions.first %>
      <strong>Revision 0 (Original Question)</strong>
    <% else %>
      <strong>Revision <%= @previous_version.index + 1 %></strong>
    <% end %>
      by <span class="avatar_wrapper"><%= link_to_learner_avatar(@previous_submitter, {image_size: :thumb}) %> <%= link_to_learner(@previous_submitter) %></span> at 
    <% if @version == @event.versions.first %>
      <%= @event.created_at %>
    <% else %>
      <%= @previous_version.created_at %>
    <% end %>
  <p>
  
  <p class="revision_description">
    <strong>Revision <%= @version.index + 1 %></strong> by <span class="avatar_wrapper"><%= link_to_learner_avatar(@version_submitter, {image_size: :thumb}) %> <%= link_to_learner(@version_submitter) %></span> at <%= @version.created_at %>
  </p>

</div>

<% if defined?(@title_diff) && @title_diff.present? %>
  <div class="diff_box">
    <h3>Title Changes</h3>
    <p><%= @title_diff %></p>
  </div>
<% end %>

<% if defined?(@description_diff) && @description_diff.present? %>
  <div class="diff_box">
    <h3>Description Changes</h3>
    <p><%= @description_diff %></p>
  </div>
<% end %>

<% if defined?(@session_start_diff) && @session_start_diff.present? %>
  <div class="diff_box">
    <h3>Start Time Changes</h3>
    <p><%= @session_start_diff %></p>
  </div>
<% end %>

<% if defined?(@session_length_diff) && @session_length_diff.present? %>
  <div class="diff_box">
    <h3>Length Changes</h3>
    <p><%= @session_length_diff %></p>
  </div>
<% end %>

<% if defined?(@time_zone_diff) && @time_zone_diff.present? %>
  <div class="diff_box">
    <h3>Time Zone Changes</h3>
    <p><%= @time_zone_diff %></p>
  </div>
<% end %>

<% if defined?(@location_diff) && @location_diff.present? %>
  <div class="diff_box">
    <h3>Location Changes</h3>
    <p><%= @location_diff %></p>
  </div>
<% end %>

<% if defined?(@evaluation_link_diff) && @evaluation_link_diff.present? %>
  <div class="diff_box">
    <h3>Evaluation Link Changes</h3>
    <p><%= @evaluation_link_diff %></p>
  </div>
<% end %>


<%= form_tag(restore_event_path(version: @version.id)) do %>
  <p><% if @version == @event.versions.first %>
      <%= submit_tag "Restore Original Question", {:class => 'btn'} %>
    <% else %>
      <%= submit_tag "Restore Revision ##{@previous_version.index + 1}", {:class => 'btn btn-primary'} %>
    <% end %>
  </p>
<% end %>

