
<!-- mockup data -->
<% @list_title = "Search Results" %>
<% @event = Event.find(2) %>


<h1><%= @list_title %></h1>

<div id="event_list">
  
  <div class="event">  
    <h3><span class="<%= (@event.has_recording?) ? "recording_available" : "no_recording_available" -%>">
    <%= link_to @event.title %></span></h3>
    <p class="description"><%= (@event.description.length > 280) ? @event.description.mb_chars[0..280]+'...' : @event.description %></p>
    <p class="details"><%= @event.session_start.strftime("%l:%M %p").downcase -%> <%= @event.session_start.strftime("%Z") -%>, <%= @event.session_start.strftime("%B %e, %Y") -%>. Presented by <%= display_presenters(@event.presenters) %>.</p>
  </div>


<div>