<%- if @event.errors.any? -%>
  <div id="error_messages">
    <h3>Please fix the following items and submit again</h3>
  <ul>
  <%- @event.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
  <%- end -%>
  </ul>
  </div>
<%- end -%>

<%- if @event.conference -%>
<div id="editform">
  <h1>Create a conference event</h1>
  <%= form_for @event,  :html => { :class => "form-stacked"} do |form| -%>
    <%= render(partial: 'conference_event_form', locals: {event_form: form}) %>
  <%- end -%>
</div>
<%- else -%>

<div id="editform">

  <h1>Create an event</h1>
  <%= form_for @event,  :html => { :class => "form-stacked"} do |form| -%>
    <%= render(partial: 'online_event_form', locals: {event_form: form}) %>
  <%- end -%>
</div>
<div id="sidebar">
  <h3>Event FAQs</h3>
  <h4>Who can create an event?</h4>
  <p>Anyone offering an online Extension education event that is open to the public.</p>
  
  <h4>How are events scheduled?</h4>
  <ul>
    <li><%= link_to 'View Upcoming Events', upcoming_events_path %> to see what dates/times are already scheduled if you want to avoid conflicts for your event.</li>
    <li>Make sure the hosting venue is available before scheduling your event.</li>
    <li>Typically 30 or 60 minutes is suggested, but some interactive programs may be 2 hours.</li>
    <li>Consider all appropriate time zones when choosing the time of day</li>
  </ul>
</div>
<%- end -%>

