<% @page_title = @event.title + " - " +  @event.session_start.strftime("%b %e, %Y") %>

<div id="two_col_col_one">
    <section id="event">
      <h1><%= @event.title -%></h1>
    
      <p class="description"><%= format_text_for_display(@event.description) -%></p>

      <%- if @event.presenters.count > 0 -%>
        <h3>Presenters</h3>
        <p id="presenters"><%= display_presenters(@event.presenters) %></p>
      <%- end -%>
      
      <div id="tags">
        <h4 class="hide">Tags</h4>
        <p>
          <%-if @event.tags.length != 0 -%>  
            <%= display_tags(@event.tags) -%>
          <%-else -%>
            There are no tags at this time
          <%-end -%>
        </p>
      </div>
   </section>
   
   
   <section id="questions">
   <%- @event.questions.each do |question| -%>
      <div id="question_<%= question.id %>" class="question">
        <%= render(partial: 'question', locals: {question: question})%>
      </div>
    <%- end -%>
    </section>
   
   <section id="event_meta">
   <p>Created by: <%= link_to_learner(@event.creator) -%></p>
   <%- if true -%>
   <!-- change to authenticated user  -->
     <p><span class="edit"><%= link_to('edit this event', edit_event_path(@event), :class => "editlink") -%></span></p>
   <%- end -%>
   </section>
   
</div>



<div id="two_col_col_two">
  <aside id="event_time" class="radius10">
      
      <%-if @event.concluded? -%>
        <h3>Watch</h3>
        
        <div class="rating_area">
          <% if current_learner %>
            <%= button_to '+', ratings_path(:rating => {:rateable_id => @event.id, :rateable_type => 'Event', :score => 1}), :method => :post, :remote => true, :class => "btn" %> 
          <% else %>
            <%= render(partial: 'sign_in_to_vote')%>
            <%= button_to '+', {}, {:class => "btn signintovote sitv_element", :disabled => true} %>
            </div> <!-- end .sitv_element_wrapper  -->
          <% end %>
          <div id="event_votes"><%= render :partial => '/partials/ratings', locals: {rateable_object: @event} %></div>
        </div>
        
        <div id="recording_details">
         <%-if @event.has_recording? -%>
           <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong></p>
           <p class="recording_available">
              <%= link_to("watch recording", @event.recording) -%>
           </p>
          <%-else -%>
            <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong>. A recording of this session has not been uploaded yet.</p>
            <p class="no_recording_available"><strong>No Recording Yet</strong></p>
          <%-end -%>
        </div>
      <%-else -%>

        <h2>
           <span id="session_date"><%= @event.session_start.strftime("%B %e, %Y") -%></span>
           <div class="calendarblock">
              <span class="month"><%= @event.session_start.strftime("%b") -%></span>
              <span class="date"><%= @event.session_start.strftime("%d") -%></span>
           </div>
           <span id="session_date_time">
              <span id="time"><%= @event.session_start.strftime("%l:%M %p").downcase -%> <span id="timezone"><%= @event.session_start.strftime("%Z") -%></span></span>
           </span>
        </h2>
        
        <p><%- if current_learner -%>
          <%- if(!current_learner.has_time_zone?) -%>
           <%= link_to("Set your time zone") -%>  to display this session in your local time
          <%- end -%>
        <%- else -%>
          <%= link_to("Sign in to set your time zone") -%> to display this session in your local time
        <%- end -%></p>   
      
        <p id="session_duration"><strong><%= "#{@event.session_length}" -%> minute</strong> session</p>
                        
      <%-end -%>
      
      
      <br class="clearing" />
    </aside>
    
    <%- if current_learner -%>
      <aside id="eventconnections" class="radius10">
        <%= render :partial => 'connections' %>
      </aside>
    <%- else -%>
       <aside id="eventconnections" class="radius10">
          <%- if @event.started? -%>
            <p>Did you attend or watch this event or want to bookmark it?</p>                                
          <%- else -%>
            <p>Want to bookmark this event?</p>
          <%- end -%>
          <%= link_to("Sign in to connect to this event", new_learner_session_path(:redirect_to => request.fullpath)) -%>
       </aside>
     <%- end -%>

     <aside id="attendees" class="radius10">  
       <%= render :partial => 'attendees' %>
     </aside>
     
    
   <div id="comment-section">
    <%= render :partial => 'comments', :locals => {comments: @comments, event: @event} %>
   </div>

</section>

<br class='clearing' />
</div>



<script class="code" type="text/javascript">
  $('.submittable').live('change', 
  function() {
    $(this).parents('form:first').submit();
  });
  
  $('#slidetoggle').click(function() {
    $('#attendee_list').slideToggle('fast','linear');
  });
  

  $(document).ready(function() {
    // sitv = sign in to vote
    $('.nojs_display').hide();
    
    $('.sitv_element_wrapper').each(function(index) {
        var $sitv_element = $(this).find('.sitv_element')
        var $h = $sitv_element.outerHeight();
        var $w = $sitv_element.outerWidth();
        $(this)
          .find('.sitv_targetarea').height($h).width($w);
    });
    
    $('.sitv_targetarea').bind('click', function () {
        $(this)
          .siblings('.sitv_content')
          .fadeIn('fast');
    });
    
    $('.sitv_content')
      .mouseleave(function() {
        $(this)
          .fadeOut('fast');
    });
      
  });

</script>


