<div id="two_col_col_one">
    <section id="event">
      <h1><%= @event.title -%></h1>
    
      <p class="description"><%= format_text_for_display(@event.description) -%></p>

      <h3>Presenters</h3>
      <p id="presenters"><a href="">Bob Smith,</a> <a href="">Jane Dangerous</a></p>
   </section>
   
   
   <section id="questions">
   <%- @event.questions.each do |question| -%>
      <div id="question_<%= question.id %>" class="question">
        <%= render(partial: 'question', locals: {question: question})%>
      </div>
    <%- end -%>
    </section>
   
   <section id="event_meta">
   <p>Created by: <a href="">Bob Smith</a></p>
   <%- if true -%>
   <!-- change to authenticated user  -->
     <p><span class="edit"><%= link_to('edit this event', edit_event_path(@event), :class => "editlink") -%></span></p>
   <%- end -%>
   </section>
</div>



<div id="two_col_col_two">
  <div id='rating_area'>
    <%= button_to '+', ratings_path(:rating => {:rateable_id => @event.id, :rateable_type => 'Event', :score => 1}), :method => :post, :remote => true, :class => "btn" %> 
    <div id="event_votes"><%= render :partial => '/partials/ratings', locals: {rateable_object: @event} %></div>
  </div>
  
  <aside id="event_time" class="radius10">
      
      <%-if @event.concluded? -%>
        <h3>Watch</h3>
         <%-if @event.recording.blank? -%>
            
            <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong>. A recording of this session has not been uploaded yet.</p>
            <p class="no_recording_available"><strong>No Recording Yet</strong></p>
          <%-else -%>
          
            <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong></p>
            <p class="recording_available">
               <%= link_to("watch recording", @event.recording) -%>
            </p>
          <%-end -%>
      
      <%-else -%>

        <h2>
           <span id="session_date"><%= @event.session_start.strftime("%B %e, %Y") -%></span>
           <div class="calendarblock">
              <span class="month"><%= @event.session_start.strftime("%b") -%></span>
              <span class="date"><%= @event.session_start.strftime("%d") -%></span>
           </div>
           <span id="session_date_time">
              <span id="time"><%= @event.session_start.strftime("%l:%M %p").downcase -%> <span id="timezone"><%= @event.session_start.strftime("%Z") -%></span></span>
           </span>
        </h2>
        
        <p><%- if current_learner -%>
          <%- if(!current_learner.has_time_zone?) -%>
           <%= link_to("Set your time zone") -%>  to display this session in your local time
          <%- end -%>
        <%- else -%>
          <%= link_to("Login to set your time zone") -%> to display this session in your local time
        <%- end -%></p>   
      
        <p id="session_duration"><strong><%= "#{@event.session_length}" -%> minute</strong> session</p>
                        
      <%-end -%>
    </aside>
   
    <div id="tags">
      <h4>Tags</h4>
      <p>
        <%-if @event.tags.length != 0 -%>  
          <%= @event.tags.collect{|t| t.name}.join(Tag::JOINER) -%>
        <%-else -%>
          There are no tags at this time
        <%-end -%>
      </p>
    </div>
   
    <%- if current_learner -%>
      <aside id="attendees" class="radius10">
        <h4 id="slidetoggle">12 attendees <small>view</small></h4>
        <ul id="attendee_list">
          <li>Candace Harker</li>
          <li>Kim Hand</li>
          <li>John McQueen</li>
          <li>Vanessa Weldon *</li>
          <li>Molly Herndon *</li>
          <li>Nurgul Fitzgerald</li>
          <li>Ashley Fondren</li>
          <li>Lynette Spicer</li>
          <li>Donna Shanklin</li>
          <li>Denise Attaway *</li>
          <li>Judy McGehee</li>
          <li>Amy Hays *</li>
        </ul>
       </aside>
       <%- end -%>
   
   
   <div id="comment-section">
    <%= render :partial => 'comments', :locals => {comments: @comments, event: @event} %>
   </div>
   
   <%- if current_learner -%>
      <%- if @event.started? -%>
        <aside id="sessionconnection_interest" class="radius10">

        </aside>

        <aside id="sessionconnection_attendance" class="radius10">

        </aside>
      <%- else -%>
        <aside id="sessionconnection_interest" class="radius10">

        </aside>
      <%- end -%>
   <%- else -%>
     <aside id="sessionconnection_interest" class="radius10">
        <%- if @event.started? -%>
          Are you interested in this topic or did you attend this session? 
        <%- else -%>
          Interested in this topic?
        <%- end -%>
        <%= link_to("Login and let us know") -%>
     </aside>
   <%- end -%>


</section>

<br class='clearing' />


</div>



<script class="code" type="text/javascript">
  $('#attendee_list').hide();

  $('.submittable').live('change', 
  function() {
    $(this).parents('form:first').submit();
  });
  
  $('#slidetoggle').click(function() {
    $('#attendee_list').slideToggle();
  });
</script>


