<div id="two_col_col_one">
    <section id="event">
      <h1><%= @event.title -%></h1>
    
      <p class="description"><%= format_text_for_display(@event.description) -%></p>

      <%- if @event.presenters.count > 0 -%>
        <h3>Presenters</h3>
        <p id="presenters"><%= display_presenters(@event.presenters) %></p>
      <%- end -%>
      
      <div id="tags">
        <h4 class="hide">Tags</h4>
        <p>
          <%-if @event.tags.length != 0 -%>  
            <%= display_tags(@event.tags) -%>
          <%-else -%>
            There are no tags at this time
          <%-end -%>
        </p>
      </div>
   </section>
   
   
   <section id="questions">
   <%- @event.questions.each do |question| -%>
      <div id="question_<%= question.id %>" class="question">
        <%= render(partial: 'question', locals: {question: question})%>
      </div>
    <%- end -%>
    </section>
   
   <section id="event_meta">
   <p>Created by: <%= link_to_learner(@event.creator) -%></p>
   <%- if true -%>
   <!-- change to authenticated user  -->
     <p><span class="edit"><%= link_to('edit this event', edit_event_path(@event), :class => "editlink") -%></span></p>
   <%- end -%>
   </section>
   
</div>



<div id="two_col_col_two">
  <aside id="event_time" class="radius10">
      
      <%-if @event.concluded? -%>
        <h3>Watch</h3>
        <div id="rating_area">
          <%= button_to '+', ratings_path(:rating => {:rateable_id => @event.id, :rateable_type => 'Event', :score => 1}), :method => :post, :remote => true, :class => "btn" %> 
          <div id="event_votes"><%= render :partial => '/partials/ratings', locals: {rateable_object: @event} %></div>
        </div>
        
        <div id="recording_details">
         <%-if @event.has_recording? -%>
           <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong></p>
           <p class="recording_available">
              <%= link_to("watch recording", @event.recording) -%>
           </p>
          <%-else -%>
            <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong>. A recording of this session has not been uploaded yet.</p>
            <p class="no_recording_available"><strong>No Recording Yet</strong></p>
          <%-end -%>
        </div>
      <%-else -%>

        <h2>
           <span id="session_date"><%= @event.session_start.strftime("%B %e, %Y") -%></span>
           <div class="calendarblock">
              <span class="month"><%= @event.session_start.strftime("%b") -%></span>
              <span class="date"><%= @event.session_start.strftime("%d") -%></span>
           </div>
           <span id="session_date_time">
              <span id="time"><%= @event.session_start.strftime("%l:%M %p").downcase -%> <span id="timezone"><%= @event.session_start.strftime("%Z") -%></span></span>
           </span>
        </h2>
        
        <p><%- if current_learner -%>
          <%- if(!current_learner.has_time_zone?) -%>
           <%= link_to("Set your time zone") -%>  to display this session in your local time
          <%- end -%>
        <%- else -%>
          <%= link_to("Login to set your time zone") -%> to display this session in your local time
        <%- end -%></p>   
      
        <p id="session_duration"><strong><%= "#{@event.session_length}" -%> minute</strong> session</p>
                        
      <%-end -%>
      
      
      <br class="clearing" />
    </aside>
   
    <%- attendee_count = @event.attendees.count -%>
    <%- if current_learner and attendee_count > 0 -%>
      <aside id="attendees" class="radius10">
        <h4 id="slidetoggle"><%= attendee_count %> attendees <small>view</small></h4>
        <ul id="attendee_list">
          <%- @event.attendees.each do |attendee| %>
            <li><%= link_to_learner(attendee) -%></li>
          <%- end -%>
        </ul>
       </aside>
    <%- end -%>

    
    <%- if current_learner -%>
      <aside id="sessionconnection_interest" class="radius10">
        <p>Bookmark this event <small>(we'll add it to your bookmarks and let you know about new activity)</small></p>
          <%- if @event.started? -%>
            <p>Watched recording <small>(it will show up in your learning portfolio)</small></p>
            <p>Attended <small>(it will show up in your learning portfolio)</small></p>
          <%- else -%>
            <p>I plan to attend <small>(we can send you an SMS or email reminder)</small></p>
          <%- end -%>
      </aside>
    <%- else -%>
       <aside id="sessionconnection_interest" class="radius10">
          <%- if @event.started? -%>
            <p>Are you interested in this topic or did you attend this session?</p>
          <%- else -%>
            <p>Interested in this topic?</p>
          <%- end -%>
          <%= link_to("Login and let us know") -%>
       </aside>
     <%- end -%>
   
   <div id="comment-section">
    <%= render :partial => 'comments', :locals => {comments: @comments, event: @event} %>
   </div>

</section>

<br class='clearing' />


</div>



<script class="code" type="text/javascript">
  $('#attendee_list').hide();

  $('.submittable').live('change', 
  function() {
    $(this).parents('form:first').submit();
  });
  
  $('#slidetoggle').click(function() {
    $('#attendee_list').slideToggle('fast','linear');
  });
</script>


