<% @page_title = @event.title + " - " +  @event.session_start.strftime("%b %e, %Y") %>
<% @noindex = false %>

<% if @event.is_expired %>
  <% @noindex = true %>
  <div id="outofdate">
    <h1>This event is expired. It is not recommended for technical reasons or is out of date.</h1>
    <h2>Please check the event description below for more details</h2>
  </div>
<% end %>

<% if @event.is_canceled %>
  <div id="event_status">
    <h1>This event has been canceled</h1>
    <h2>Please check the event description below for more details</h2>
  </div>
  <div id="deleted_wrapper">
<% end %>

<div id="two_col_col_one">
    <section id="event">
      <h1><%= @event.title -%></h1>
      
      <div class="rating_wrapper">
        <% if current_learner %>
          <% if upvoted_object = current_learner.get_upvoted_object(@event.id, 'Event') %>
            <span id='undo_vote_event_<%= @event.id %>'><%= button_to '-', rating_path(upvoted_object), :method => :delete, :remote => true, :class => "btn" %></span>
          <% else %>
            <span id='upvote_event_<%= @event.id %>'><%= button_to '+', ratings_path(:rating => {:rateable_id => @event.id, :rateable_type => 'Event', :score => 1}), :method => :post, :remote => true, :class => "btn btn-primary" %></span>
          <% end %>
        <% else %>
          <%= render(partial: 'shared/sign_in_to_vote')%>
          <%= button_to '+', {}, {:class => "btn signintovote sitv_element", :disabled => true} %>
          </div> <!-- end .sitv_element_wrapper  -->
        <% end %>
        <div id="event_votes" class="rating_detail">
          <%= render :partial => '/partials/ratings', locals: {rateable_object: @event} %>
        </div>
      </div>
      
      <% if @event.in_progress? %>
        <span class="happening_now"><em>Happening now</em></span>
        <br class="clearing"/>
      <% end %>
    
      <div class="description"><%= format_text_for_display(@event.description) -%></div>

      <%- if @event.presenters.count > 0 -%>
        <h3>Presenters</h3>
        <p id="presenters"><%= display_presenters(@event.presenters) %></p>
      <%- end -%>
      
      <%-if !@event.concluded? -%>
      <p class="location">
        <h3>Event Location</h3>
        <%= format_text_for_display(@event.location) -%>
      </p>
      <%- end -%>
      
      <div class="tags">
        <h4 class="hide">Tags</h4>
        <p>
          <%-if @event.tags.length != 0 -%>  
            <%= display_tags(@event.tags) -%>
          <%-else -%>
            There are no tags at this time
          <%-end -%>
        </p>
      </div>
   </section>
   
<%- if @event.started? %>
   <section id="questions">
   <%- @event.questions.each do |question| -%>
      <div id="question_<%= question.id %>" class="question">
        <%= render(partial: 'question', locals: {question: question})%>
      </div>
    <%- end -%>
    </section>
<%- else -%>
  <div id="no_questions_yet">
    <%= image_tag("graph_placeholder_multi.png", :size => "80x80",) %>
    <p>The sensemaking questions and graphs appear shortly before the event begins</p>
    <p class="description">* Sensemaking is the process of giving meaning to experience. Our sensemaking questions are designed to prompt discussion and encourage participation.</p>
  </div>
<%- end -%>
   
  <section id="event_meta">
    <p>Created by <%= link_to_learner(@event.creator) %></p>
    
    <%- if current_learner -%>
        <p><span class="edit"><%= link_to('edit this event', edit_event_path(@event), :class => "editlink") -%></span></p>
    <%- end %>
  </section>

</div>



<div id="two_col_col_two">
  <aside id="event_time" class="radius10">
      
      <%-if @event.concluded? -%>
        <h3>Watch</h3>
        
        <div id="recording_details">
         <%-if @event.has_recording? -%>
           <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong></p>
           <p class="recording_available">
              <%= link_to("watch recording", @event.recording) -%>
           </p>
          <%-else -%>
            <p>This <strong><%= "#{@event.session_length}" -%> minute</strong> session took place <strong><%= @event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") -%></strong>. A recording of this session has not been uploaded yet.</p>
            <p class="no_recording_available"><strong>No Recording Yet</strong></p>
          <%-end -%>
        </div>
      <%-else -%>

        <h2>
           <span id="session_date"><%= @event.session_start.strftime("%B %e, %Y") -%></span>
           <span class="calendarblock">
              <span class="month"><%= @event.session_start.strftime("%b") -%></span>
              <span class="date"><%= @event.session_start.strftime("%d") -%></span>
           </span>
           <span id="session_date_time">
              <span id="time"><%= @event.session_start.strftime("%l:%M %p").downcase -%> <span id="timezone"><%= @event.session_start.strftime("%Z") -%></span></span>
           </span>
        </h2>
        
        <p class="timezone"><%- if current_learner -%>
          <%- if(!current_learner.has_time_zone?) -%>
           <%= link_to("Set your time zone to display this session in your local time", settings_profile_path()) -%> 
          <%- end -%>
        <%- end -%></p>
        
        <h3 id="session_duration"><strong><%= "#{@event.session_length}" -%> minute</strong> session</h3>
        <p class="addtocalendar">
          <span id="event_date" class="addtocal">
            Add to calendar
            <span class="summary" style="display:none"><%= "Learn Event: #{@event.title}" %></span>
            <span class="dtstart" style="display:none"><%= convert_to_rfc3339(@event.session_start) %></span>
            <span class="dtend" style="display:none"><%= convert_to_rfc3339(@event.session_end) %></span>
            <span class="description" style="display:none"><%= event_url(@event) %></span> 
            <span class="ics_url" style="display:none"><%= event_url(@event, :format => :ics) %></span> 
            <span class="vcs_url" style="display:none"><%= event_url(@event, :format => :vcs) %></span>
          </span>
        </p>
        <p class="location">
          Event Location: <%= format_text_for_display(@event.location) -%>
        </p>
      <%-end -%>
    </aside>
    
    <%- if current_learner -%>
    
      <aside id="eventconnections" class="radius10">
        <%= render :partial => 'connections' %>
      </aside>
      
      <%= render :partial => 'learners' %>
    <%- else -%>
       <aside id="eventconnections" class="radius10 placeholder">
         <%= render(partial: 'sign_in_to_vote')%>
          <%- if @event.started? -%>
            <p class="sitv_element cursor">Did you attend or watch this event or want to follow it?</p>                                
          <%- else -%>
            <p class="sitv_element cursor"><%= link_to("Follow this event", new_learner_session_path(:redirect_to => request.fullpath)) -%></p>
          <%- end -%>
          </div> <!-- end .sitv_element_wrapper  -->
          <br class="clearing" />
       </aside>
     <%- end -%>

     
     
    
   <div id="comment-section">
    <%= render :partial => 'comments', :locals => {comments: @comments, event: @event} %>
   </div>

<br class='clearing' />
</div>


<% if @event.is_canceled %>
<br class='clearing' />
  </div> <!-- deleted_wrapper end -->
<% end %>


<script class="code" type="text/javascript">
  $('.submittable').live('change', 
  function() {
    $(this).parents('form:first').submit();
  });  

  $(document).ready(function() {
    // sitv = sign in to vote
    $('.nojs_display').hide();
    
    $('.sitv_element_wrapper').each(function(index) {
        var $sitv_element = $(this).find('.sitv_element')
        var $h = $sitv_element.outerHeight();
        var $w = $sitv_element.outerWidth();
        $(this)
          .find('.sitv_targetarea').height($h).width($w);
    });
    
    $('.sitv_targetarea').bind('click', function () {
        $(this)
          .siblings('.sitv_content')
          .fadeIn('fast');
    });
    
    $('.sitv_content')
      .mouseleave(function() {
        $(this)
          .fadeOut('fast');
    });
    
    
    
    
    $('.addtocal').AddToCal({
        getEventDetails: function( element ) {
          
          var 
            dtstart_element = element.find('.dtstart'),
            dtend_element = element.find('.dtend'),
            title_element = element.find('.summary'),
            details_element = element.find('.description');
            url_ics_element = element.find('.ics_url');
            url_vcs_element = element.find('.vcs_url');

          // return the required event structure
          return { 
            webcalurl: null,
            icalurl: url_ics_element.html(),
            vcalurl: url_vcs_element.html(), 
            start: dtstart_element.html(), 
            end: dtend_element.html(), 
            title: title_element.html(), 
            details: details_element.html(), 
            location: null, 
            url: null
            };
        },
      });
    
    
    
    
    
    
    
      
  });

</script>


