<h1>Notifications</h1>

<nav id="settings_nav">
  <ul>
    <li><%= link_to_unless_current 'Profile', settings_profile_path() %></li>
    <li><%= link_to_unless_current 'Notifications', settings_notifications_path() %></li>
  </ul>
</nav>

<div><strong>Send me an email when</strong></div>

<%= form_tag(settings_notifications_path, {remote: true}) do -%>
  <%= hidden_field_tag('notification_type', 'email_reminder_notification') %>
    <label>
    <%= check_box_tag('notification.reminder.email', 
                      '1',
                      @learner.preferences.setting('notification.reminder.email'),
                      {class: 'submittable'}) %> 
                      
    <span>An event I bookmarked is about to start</span>
    </label>
<%- end -%>

<%= form_tag(settings_notifications_path, {remote: true}) do -%>
  <%= hidden_field_tag('notification_type', 'activity_notification') %>
    <label>
    <%= check_box_tag('notification.activity', 
                      '1',
                      @learner.preferences.setting('notification.activity'),
                      {class: 'submittable'}) %> 
                      
    <span>There is activity on an event I bookmarked</span>
    </label>
<%- end -%>

<%= form_tag(settings_notifications_path, {remote: true}) do -%>
  <%= hidden_field_tag('notification_type', 'recording_notification') %>
    <label>
    <%= check_box_tag('notification.recording', 
                      '1',
                      @learner.preferences.setting('notification.recording'),
                      {class: 'submittable'}) %> 
                      
    <span>A recording is uploaded to an event I bookmarked</span>
    </label>
<%- end -%>

<%= form_tag(settings_notifications_path, {remote: true}) do -%>
  <%= hidden_field_tag('notification_type', 'recommendation_notification') %>
    <label>
    <%= check_box_tag('notification.recommendation', 
                      '1',
                      @learner.preferences.setting('notification.recommendation'),
                      {class: 'submittable'}) %> 
                      
    <span>There are event recommendations for me</span>
    </label>
<%- end -%>

<div><strong>Send me a text (SMS) notification when</strong></div>

<% if !@learner.mobile_number.blank? %>

<%= form_tag(settings_notifications_path, {id: 'sms_notice', remote: true}) do -%>
  <%= hidden_field_tag('notification_type', 'sms_reminder_notification') %>
    <label>
    <%= check_box_tag('notification.reminder.sms', 
                      '1',
                      @learner.preferences.setting('notification.reminder.sms'), 
                      {class: 'submittable'}) %> 
                      
    <span>An event I bookmarked is about to start</span>
    </label>

    <label>
    <%= radio_button_tag('notification.reminder.sms.notice', 
                      15.minutes,
                      @learner.preferences.setting('notification.reminder.sms.notice').to_f == 15.minutes || @learner.preferences.setting('notification.reminder.sms.notice').blank?,
                      {class: 'submittable'}) %> 
                      
    <span>15 minutes prior to start time</span>
    </label>
  
    <label>
    <%= radio_button_tag('notification.reminder.sms.notice', 
                      30.minutes,
                      @learner.preferences.setting('notification.reminder.sms.notice').to_f == 30.minutes,
                      {class: 'submittable'}) %> 
                      
    <span>30 minutes prior to start time</span>
    </label>
  
    <label>
    <%= radio_button_tag('notification.reminder.sms.notice', 
                      45.minutes,
                      @learner.preferences.setting('notification.reminder.sms.notice').to_f == 45.minutes,
                      {class: 'submittable'}) %> 
                      
    <span>45 minutes prior to start time</span>
    </label>
  
    <label>
    <%= radio_button_tag('notification.reminder.sms.notice', 
                      60.minutes,
                      @learner.preferences.setting('notification.reminder.sms.notice').to_f == 60.minutes,
                      {class: 'submittable'}) %> 
                      
    <span>60 minutes prior to start time</span>
    </label>

<%- end -%>

<script class="code" type="text/javascript">
  $('.submittable').live('change', 
  function() {
    if($(this).attr('id') == 'notification.reminder.sms') {
      noticeToggle();
    }
    $(this).parents('form:first').submit();
    $(this).parents('div:first').effect("highlight", {}, 3000); 
  });

  $(document).ready(function() {
    if (document.getElementById("notification.reminder.sms").checked == false) { 
      $('#sms_notice :radio').attr('disabled', true);
    }
  })

  function noticeToggle()
  {
    if ($('#sms_notice :radio').attr('disabled'))
    {
      $('#sms_notice :radio').attr('disabled', false);
    } else {
      $('#sms_notice :radio').attr('disabled', true);
    }
    return
  }
</script>

<% else %>
  <p>You have not provided us a mobile number in your profile yet. You can enable this feature by providing your mobile number <%= link_to 'here', settings_profile_path %>.</p>
<% end %>


