<h1>Sharing</h1>

<%= render :partial => 'settings/settings_navigation' %>

<br class="clearing" />

<div class="form_group notifications">
  <h3>How Does Privacy and Sharing Work in Learn?</h3>
  <p>Learn account creation is open to the public, and any signed-in user can view your <%= link_to("Learning Portfolio", portfolio_learner_path(current_learner)) %>. Your <%= link_to "Activity page", learning_history_path %> is private and can only be seen by you. It contains a record of everything you do in Learn.</p>

<h3>Choose which activity is displayed on your <%= link_to("Learning Portfolio", portfolio_learner_path(current_learner)) %></h3>

<%= form_tag(settings_privacy_path) do -%>
  <table class="zebra-striped activity privacy">
    <tr>
      <th></th>
      <th class="small">Share</th>
      <th class="small">Keep Private</th>
      
    </tr>
    <tr>
      <td>Presented events</td>
      <td class="small"><%= radio_button_tag 'sharing.events.presented', '1', @learner.public_presented_events? %></td>
      <td class="small"><%= radio_button_tag 'sharing.events.presented', '0', !@learner.public_presented_events? %></td>
      
    </tr>
    <tr>
      <td>Attended events</td>
      <td class="small"><%= radio_button_tag 'sharing.events.attended', '1', @learner.public_attended_events? %></td>
      <td class="small"><%= radio_button_tag 'sharing.events.attended', '0', !@learner.public_attended_events? %></td>
      
    </tr>
    <tr>
      <td>Watched events</td>
      <td class="small"><%= radio_button_tag 'sharing.events.watched', '1', @learner.public_watched_events? %></td>
      <td class="small"><%= radio_button_tag 'sharing.events.watched', '0', !@learner.public_watched_events? %></td>
      
    </tr>
    <tr>
      <td>Bookmarked events</td>
      <td class="small"><%= radio_button_tag 'sharing.events.bookmarked', '1', @learner.public_bookmarked_events? %></td>
      <td class="small"><%= radio_button_tag 'sharing.events.bookmarked', '0', !@learner.public_bookmarked_events? %></td>
      
    </tr>
    
    <tr>
      <td>Rated events</td>
      <td class="small"><%= radio_button_tag 'sharing.events.rated', '1', @learner.public_rated_events? %></td>
      <td class="small"><%= radio_button_tag 'sharing.events.rated', '0', !@learner.public_rated_events? %></td>
      
    </tr>
    
    <tr>
      <td>Answered events</td>
      <td class="small"><%= radio_button_tag 'sharing.events.answered', '1', @learner.public_answered_events? %></td>
      <td class="small"><%= radio_button_tag 'sharing.events.answered', '0', !@learner.public_answered_events? %></td>
      
    </tr>
  </table>
  
  
  
  <div class="form_subgroup">
    <h3>Go Public</h3>
    <p>By default, your Learning Portfolio is only viewable to signed-in users, but you can choose to open it up to everyone</p>
    <fieldset>
      <p>
        <label>
          <%= check_box_tag 'sharing.portfolio', '1', @learner.public_portfolio? %> 
          <span>Make my Learning Portfolio page publicly viewable</span>
        </label>
      </p>
    </fieldset>
  </div>
  
  <fieldset>
    <p><%= submit_tag "Save Changes", :class => "btn primary large" %></p>
  </fieldset>
  
<%- end -%>

</div>