<%= form_tag(settings_privacy_path) do -%>
  <table>
    <tr>
      <th>Share</th>
      <th>Keep Private</th>
      <th></th>
    </tr>
    <tr>
      <td><%= radio_button_tag 'privacy.events.presented', '0', !@learner.private_presented_events? %></td>
      <td><%= radio_button_tag 'privacy.events.presented', '1', @learner.private_presented_events? %></td>
      <td>Presented events</td>
    </tr>
    <tr>
      <td><%= radio_button_tag 'privacy.events.attended', '0', !@learner.private_attended_events? %></td>
      <td><%= radio_button_tag 'privacy.events.attended', '1', @learner.private_attended_events? %></td>
      <td>Attended events</td>
    </tr>
    <tr>
      <td><%= radio_button_tag 'privacy.events.watched', '0', !@learner.private_watched_events? %></td>
      <td><%= radio_button_tag 'privacy.events.watched', '1', @learner.private_watched_events? %></td>
      <td>Watched events</td>
    </tr>
    <tr>
      <td><%= radio_button_tag 'privacy.events.bookmarked', '0', !@learner.private_bookmarked_events? %></td>
      <td><%= radio_button_tag 'privacy.events.bookmarked', '1', @learner.private_bookmarked_events? %></td>
      <td>Bookmarked events</td>
    </tr>
    <tr>
      <td><%= radio_button_tag 'privacy.events.commented', '0', !@learner.private_commented_events? %></td>
      <td><%= radio_button_tag 'privacy.events.commented', '1', @learner.private_commented_events? %></td>
      <td>Commented events</td>
    </tr>
    
    <tr>
      <td><%= radio_button_tag 'privacy.events.rated', '0', !@learner.private_rated_events? %></td>
      <td><%= radio_button_tag 'privacy.events.rated', '1', @learner.private_rated_events? %></td>
      <td>Rated events</td>
    </tr>
    
    <tr>
      <td><%= radio_button_tag 'privacy.events.answered', '0', !@learner.private_answered_events? %></td>
      <td><%= radio_button_tag 'privacy.events.answered', '1', @learner.private_answered_events? %></td>
      <td>Answered events</td>
    </tr>
  </table>
  
  <h3>Go Public</h3>
  
  <p><label><%= check_box_tag 'public_portfolio', '1', !@learner.private_portfolio? %> Make my Learning Portfolio page completely public</label></p>
  
  <p><%= submit_tag "Save Changes", :class => "btn primary large" %></p>
<%- end -%>