<h1>Profile</h1>

<nav id="settings_nav">
  <ul>
    <li><%= link_to_unless_current "Profile", settings_profile_path %></li>
    <li><%= link_to_unless_current "Notifications", settings_notifications_path %></li>
  </ul>
</nav>

<br class="clearing" />

<div id="extension_people_data">
  <p id="people_edit">These items can be edited in people.extension.org. <%= link_to("View your People Profile", "http://www.extension.org/people/profile/me") %>.</p>
  <p><%= @learner.name %></p>
  <p><%= @learner.email %></p>
  <p><%= @learner.time_zone %></p>
  <p><%= link_to "Learning History", learning_history_learner_path(@learner.id) %></p>
</div>


<%= form_for @learner, :url => settings_profile_path, :html => {:multipart => true, :class => "form-stacked"} do |f| %>

  <fieldset>
    <p class="bio">
      <%= f.label :bio, 'Short Bio (140 characters)' %>
      <%= f.text_area :bio, :rows => "2", :maxlength => 140,  :class => "l" %>
    </p>
  
    <p>
      <%= f.label :mobile_number, 'Phone Number (for receiving text notifications)' %>
      <%= f.text_field :mobile_number %>
    </p>
  </fieldset>
    
  <fieldset>
    <p><%= get_avatar(@learner, :medium) %></p>
    
    <p class="clearing">
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </p>
    <% if @learner.avatar.present? %>
    <p class="clearing">
      <label>
        <%= f.check_box :remove_avatar %>
        Remove avatar
      </label> 
    </p>
    <% end %>
  </fieldset>
  
    
    
    <fieldset>
      <p><%= f.submit "Save Changes", :class => "btn primary large" %></p>
    </fieldset>
    
  <% end %>


