<h1>Profile</h1>

<nav id="settings">
  <ul>
    <li><%= link_to_unless_current "Profile", settings_profile_path %></li>
    <li><%= link_to_unless_current "Notifications", settings_notifications_path %></li>
  </ul>
</nav>

<br class="clearing" />

<div id="extension_people_data">
  <p id="people_edit">These items can be edited in people.extension.org. <%= link_to("View your People Profile", "http://www.extension.org/people/profile/me") %>.</p>
  <p><%= @learner.name %></p>
  <p><%= @learner.email %></p>
  <p><%= @learner.time_zone %></p>
</div>

  <p>
  <%= form_for @learner, :url => settings_profile_path, :html => {:multipart => true} do |f| %>
    <p>
    <%= f.label :bio, 'Short Bio (140 characters)' %><br />
    <%= f.text_field :bio, :size => 140, :maxlength => 140 %>
    </p>
    <p>
    <%= f.label :mobile_number, 'Phone Number (for receiving text notifications)' %><br />
    <%= f.text_field :mobile_number %>
    </p>
    
    <p><%= get_avatar(@learner, :medium) %></p>
    <p>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </p>
    
    <p>
      <label>
        <%= f.check_box :remove_avatar %>
        Remove avatar
      </label> 
    </p><br />
    
    <p><%= f.submit "Save Changes" %></p>
  <% end %>
  </p>


