<h1>Profile</h1>

<nav id="settings_nav">
  <ul>
    <li><%= link_to_unless_current "Profile", settings_profile_path %></li>
    <li><%= link_to_unless_current "Notifications", settings_notifications_path %></li>
  </ul>
</nav>

<br class="clearing" />

<div class="form_group">

<div id="extension_people_data">
  <p><%= @learner.name %></p>
  <p><%= @learner.email %></p>
    <%- if @learner.has_time_zone? -%>
      <p><%= @learner.time_zone %></p>
    <%- else -%>
      <p>No timezone currently set.</p>
    <%- end -%>
  <p id="people_edit"><%= link_to("The above items can be edited in people.extension.org", "http://www.extension.org/people/profile/me") %></p>
</div>


<%= form_for @learner, :url => settings_profile_path, :html => {:multipart => true, :class => "form-stacked"} do |f| %>

  <fieldset>
    <p class="bio">
      <%= f.label :bio, 'Short Bio (140 characters)' %>
      <%= f.text_area :bio, :rows => "2", :maxlength => 140,  :class => "l" %>
    </p>
  </fieldset>
  
  <fieldset>
    <p>
      <%= f.label :mobile_number, 'Phone Number (for receiving text notifications)' %>
      <%= f.text_field :mobile_number %>
    </p>
    
    <%- if @learner.preferences.setting("notification.reminder.sms").blank? && !@learner.mobile_number.blank? -%>
      <p>We've got your number, but you don't have any text notifications turned on. <%= link_to "See your text options.", settings_notifications_path %></p>
    <% end %>
    <%- if @learner.preferences.setting("notification.reminder.sms") && !@learner.mobile_number.blank? -%>
      <p><%= link_to "See your current text notification options", settings_notifications_path %></p>
    <% end %>
  </fieldset>
    
  <fieldset>
    <p><%= get_avatar(@learner, :medium) %></p>
    
    <p class="clearing">
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </p>
    <% if @learner.avatar.present? %>
    <p class="clearing">
      <label>
        <%= f.check_box :remove_avatar %>
        Remove avatar
      </label> 
    </p>
    <% end %>
  </fieldset>
  
    
    
    <fieldset>
      <p><%= f.submit "Save Changes", :class => "btn primary large" %></p>
    </fieldset>
    
  <% end %>


</div>