<h1>Profile</h1>

<%= render :partial => 'settings/settings_navigation' %>

<br class="clearing" />

<div class="form_group">

  <% if @learner.is_extension_account? %>
    <div id="extension_people_data">
      <p><%= @learner.name %></p>
      <p><%= @learner.email %></p>
      <%- if @learner.has_time_zone? -%>
        <p><%= @learner.time_zone %></p>
      <%- else -%>
        <p>No timezone currently set <small><%= link_to("set your timezone now", "http://www.extension.org/people/profile/edit") %></small></p>
      <%- end -%>
      <p id="people_edit"><%= link_to("The above items can be edited in people.extension.org", "http://www.extension.org/people/profile/me") %></p>
    </div>
  <% end %>

<%= form_for @learner, :url => settings_profile_path, :html => {:multipart => true, :class => "form-stacked no_m_t"} do |f| %>

  <% if !@learner.is_extension_account? %>
    <fieldset>
      <p>
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name %>
      </p>
    </fieldset>
    
    <fieldset>
      <p>
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email %>
      </p>
    </fieldset>
    
    <fieldset>
      <p>
        <%= f.label :time_zone, 'Time Zone' %>
        <%= time_zone_select(:learner, :time_zone, ActiveSupport::TimeZone.us_zones, {:default => Learner::DEFAULT_TIMEZONE}, {:class => "span5"}) %>
      </p>
    </fieldset> 
  <% end %>

  <fieldset>
    <p class="bio">
      <%= f.label :bio, 'Short Bio (140 characters)' %>
      <%= f.text_area :bio, :rows => "2", :maxlength => 140,  :class => "l" %>
    </p>
  </fieldset>
  
  <fieldset>
    <p>
      <%= f.label :mobile_number, 'Phone Number (for receiving text notifications)' %>
      <%= f.text_field :mobile_number %>
    </p>
    
    <%- if @learner.preferences.setting("notification.reminder.sms").blank? && !@learner.mobile_number.blank? -%>
      <p><span class="highlight">We've got your number, but you don't have any text notifications turned on. <%= link_to "View your texting options.", settings_notifications_path %></span></p>
    <% end %>
    <%- if @learner.preferences.setting("notification.reminder.sms") && !@learner.mobile_number.blank? -%>
      <p><%= link_to "See your current text notification options", settings_notifications_path %></p>
    <% end %>
  </fieldset>
    

  <legend>Current Avatar</legend>

    <p>
      <%= avatar_for_learner(@learner, {image_size: :medium}) %>
    </p>

    <% if @learner.avatar.present? %>
      <p class="clearing">
        <label>
          <%= f.check_box :remove_avatar %>
          Remove avatar
        </label> 
      </p>
    <% end %>

  <legend>Upload New Avatar</legend>

    <p class="clearing">
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </p>

    <p>
    Avatar Preview:<br/>
    <output id="preview_learner_avatar"></output>
    </p>


  
    
    
    <fieldset>
      <p><%= f.submit "Save Changes", :class => "btn btn-primary btn-large" %></p>
    </fieldset>
    
  <% end %>


</div>

<script class="code" type="text/javascript">
  if (window.File && window.FileReader && window.FileList && window.Blob) {
      function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

          // Only process image files.
          if (!f.type.match('image.*')) {
            continue;
          }

          var reader = new FileReader();

          // Closure to capture the file information.
          reader.onload = (function(theFile) {
            return function(e) {
              // Render thumbnail.
              var span = document.createElement('span');
              span.innerHTML = ['<img class="preview_avatar" src="', e.target.result,
                                '" title="', escape(theFile.name), '"/>'].join('');
              document.getElementById('preview_learner_avatar').insertBefore(span, null);
            };
          })(f);

          // Read in the image file as a data URL.
          reader.readAsDataURL(f);
        }
      }

    document.getElementById('learner_avatar').addEventListener('change', handleFileSelect, false);
  }
</script>