

<% if current_learner && @learner.id == current_learner.id %>
<nav id="learning_history">
<ul>
  <li class="activity"><%= link_to_unless_current "All Activity", learning_history_path %></li>
  <li class="bytype">Events by type:</li>
  <li><%= link_to_unless_current "Presented", presented_history_learner_path(current_learner) %></li>
  <li><%= link_to_unless_current "Attended", attended_history_learner_path(current_learner) %></li>
  <li><%= link_to_unless_current "Watched", watched_history_learner_path(current_learner) %></li>
  <li><%= link_to_unless_current "Bookmarked", bookmarked_history_learner_path(current_learner) %></li>
  <li><%= link_to_unless_current "Commented", commented_history_path %></li>
  <li><%= link_to_unless_current "Rated", rated_history_learner_path(current_learner) %></li>
  <li><%= link_to_unless_current "Answered Questions", answered_question_history_learner_path(current_learner) %></li>
</ul>
</nav>
<% end %>

<br class="clearing" />
<h1 class="listheader"><%= @list_title %></h1>

<div id="learning_history_wrapper">

<% if @type == 'Activity' %>
  <% if defined?(@activities.total_entries) && @activities.total_entries > 0 %>
    
    <table class="zebra-striped">
      <% @activities.each do |activity| %>
        <tr>
          <td class="activity_date"><%= time_ago_in_words(activity.created_at) %> ago
          <small><%= activity.created_at.strftime("%l:%M %p, %b %e, %Y") %></small></td>
          <td class="activity_type"><%= EventActivity.description_for_id(activity.activity) %></td>
          <td><%= link_to(activity.title, event_path(activity.event_id)) %></td>
        </tr>
      <% end %>
    </table>
  
    <p>Displaying <strong><%= @activities.offset + 1 %>-<%= @activities.offset + @activities.length %> of <%= @activities.total_entries %></strong></p>
    <%= will_paginate @activities %>
  <% else %>
    <div class="noevents">
    <h3>No <%= @type %> events at this time</h3>
    </div>
  <% end %>

<% else %>
    <% if (current_learner.id == @learner.id) || (@learner.send("public_#{@type.downcase}_events?") == true) %>
      <% if defined?(@events.total_entries) && @events.total_entries > 0 %>

        <table class="zebra-striped">
          <% @events.each do |event| %>
            <tr class="<%= (event.has_recording?) ? "recording_available" : "no_recording_available" %>">
              <td class="activity_date"><%= event.session_start.strftime("%l:%M %p, %b %e, %Y") %></td> 

              <td><%= link_to event.title, event_path(event) %></td>
            </tr>
          <% end %>
        </table>

        <p>Displaying <strong><%= @events.offset + 1 %>-<%= @events.offset + @events.length %> of <%= @events.total_entries %></strong></p>
        <%= will_paginate @events %>
      <% else %>
        <div class="noevents">
        <h3>No <%= @type %> events at this time</h3>
        </div>
      <% end %>
   <% else %>
     <p><%= @type %> events are not being shared.</p>
   <% end %>  
<% end %>
</div>