<div class="col-md-12">
<% if current_learner && @learner.id == current_learner.id %>
<nav id="learning_history">
  <ul class="nav nav-pills">
    <li><%= link_to "Activity Log", learning_history_path %></li>
  <li><%= link_to "Presented", presented_history_learner_path(current_learner) %></li>
  <li><%= link_to "Created", created_history_learner_path(current_learner) %></li>
  <li><%= link_to "Attended", attended_history_learner_path(current_learner) %></li>
  <li><%= link_to "Watched", watched_history_learner_path(current_learner) %></li>
  <li><%= link_to "Followed", bookmarked_history_learner_path(current_learner) %></li>
  <li><%= link_to "Commented", comment_history_path %></li>
</ul>
</nav>
<% end %>

<br class="clearing" />
<h1 class="listheader"><%= @list_title %></h1>

<div id="learning_history_wrapper">

<% if @type == 'Activity' %>
  <% if defined?(@activities.total_count) && @activities.total_count > 0 %>

    <table class="table table-striped">
      <% @activities.each do |activity| %>
        <tr>
          <td class="activity_date"><%= time_ago_in_words(activity.created_at) %> ago
          <small><%= activity.created_at.strftime("%l:%M %p, %b %e, %Y") %></small></td>
          <td class="activity_type"><%= EventActivity.description_for_id(activity.activity) %></td>
          <td><%= link_to(activity.title, event_path(activity.event_id)) %></td>
        </tr>
      <% end %>
    </table>
    <%= pagination_counts(@activities) %>
    <%= paginate @activities %>
  <% else %>
    <div class="noevents">
    <h3>No <%= @type %> events at this time</h3>
    </div>
  <% end %>

<% else %>
    <% if (current_learner.id == @learner.id) || (@learner.send("public_#{@type.downcase}_events?") == true) %>
      <% if defined?(@events.total_count) && @events.total_count > 0 %>

        <table class="table table-striped">
          <% @events.each do |event| %>
            <tr>
              <td class="activity_date"><%= event.session_start.strftime("%l:%M %p, %b %e, %Y") %></td>

              <td>
                <i class="<%= event.has_recording? ? "fa fa-play-circle play-green" : "fa fa-play-circle mid-gray" %>"></i>
                <%= link_to event.title, event_path(event) %>
              </td>
            </tr>
          <% end %>
        </table>

        <%= pagination_counts(@events) %>
        <%= paginate @events %>
      <% else %>
        <div class="noevents">
        <h3>No <%= @type %> events at this time</h3>
        </div>
      <% end %>
   <% else %>
     <p><%= @type %> events are not being shared.</p>
   <% end %>
<% end %>
</div>

</div>
