<h1>Learning History</h1>

<nav id="learning_history">
<ul>
  <li><%= link_to "All" %></li>
  <li><%= link_to "Presented" %></li>
  <li><%= link_to "Attended" %></li>
  <li><%= link_to "Watched" %></li>
  <li><%= link_to "Bookmarks" %></li>
  <li><%= link_to "Comments" %></li>
  <li>Rated (?)</li>
  <li>Answered Questions (?)</li>
</ul>
</nav>


<table>
  <tr>
    <td>Watched</td>
    <td><%= link_to "NeVC: Curate The Cloud. How Too Much Information puts Humans Back In Charge" %></td>
  </tr>
<table>