<% @page_title = @learner.name + " Learning Portfolio" %>

<% if @learner.is_blocked %>
<div id="account_block_banner">
  <h3>This account has been reported and blocked</h3>
  <% if current_learner && (current_learner.id != @learner.id) %>
  <%= button_to 'Unblock this account', unblock_learner_path(@learner.id), :method => :post, :confirm => "Unblock this account?", :class => "btn" %>
  <% end %>
</div>
<% end %>

<div class="learner-info">
  <div class="learner-info-text">
  <h1><%= @learner.name %></h1>

  <%- if(!@learner.bio.blank?) -%>
    <p><%= @learner.bio %></p>
  <%- else -%>
    <%- if current_learner && current_learner.id == @learner.id -%>
      <p><%= link_to "Everyone else is seeing a blank area here. Want to add a short bio about youself?", settings_profile_path() %></p>
    <%- end -%>
  <%- end -%>
  </div>
  <div id="avatar_wrapper">
    <%= avatar_for_learner(@learner, {image_size: :medium}) %>
    <%- if !@learner.avatar.present? %>
      <%- if current_learner && current_learner.id == @learner.id -%>
      <p class="edit"><%= link_to "edit", settings_profile_path %></p>
      <%- end %>
    <%- end -%>
  </div>
</div>

<br class="clearing" />

<div class="span5">
  <h2>Presented</h2>
  <% if @learner.public_presented_events? %>
    <% if @presented_events.length == 0 %>
      <p>No events presented yet<p>
    <% else %>
      <% @presented_events.each do |event| %>
        <p>
          <i class="<%= (event.recording.present?) ? "fa fa-play-circle play-green" : "fa fa-play-circle mid-gray" %>"></i>
          <% if event.is_expired %>
            <em class="expired">expired</em>
          <% end %>
        <%= link_to event.title, event_path(event) %> <span class="event_date"><%= event.session_start.strftime("%b   %e, %Y") %></span></p>
      <% end %>
      <% if current_learner && (current_learner.id == @learner.id || @learner.public_presented_events?) %>
      <p class="view_all"><%= link_to "View all", presented_history_learner_path(@learner), :class => "muted" %></p>
      <% end %>
    <% end %>
  <% else %>
    <div class="not_sharing">
    <p>
      Presented events are not being shared.
      <% if current_learner && current_learner.id == @learner.id %>
        <%= link_to 'change', settings_privacy_path %>
      <% end %>
    </p>
    </div>
    <br class="clearing"/>
  <% end %>

  <h2>Attended</h2>
  <% if @learner.public_attended_events? %>
    <% if @attended_events.length == 0 %>
      <p>No events attended yet<p>
    <% else %>
      <% @attended_events.each do |event| %>
        <p>
          <i class="<%= (event.recording.present?) ? "fa fa-play-circle play-green" : "fa fa-play-circle mid-gray" %>"></i>
          <% if event.is_expired %>
            <em class="expired">expired</em>
          <% end %>
        <%= link_to event.title, event_path(event) %> <span class="event_date"><%= event.session_start.strftime("%b %e, %Y") %></span></p>
      <% end %>
      <% if current_learner && (current_learner.id == @learner.id || @learner.public_attended_events?) %>
      <p class="view_all"><%= link_to_unless_current "View all", attended_history_learner_path(@learner), :class => "muted" %></p>
      <% end %>
    <% end %>
  <% else %>
    <div class="not_sharing">
    <p>
      Attended events are not being shared.
      <% if current_learner && current_learner.id == @learner.id %>
        <%= link_to 'change', settings_privacy_path %>
      <% end %>
    </p>
    </div>
    <br class="clearing"/>
  <% end %>

  <h2>Watched</h2>
  <% if @learner.public_watched_events? %>
    <% if @watched_events.length == 0 %>
      <p class="muted">No events watched yet<p>
    <% else %>
      <% @watched_events.each do |event| %>
        <p>
          <i class="<%= (event.recording.present?) ? "fa fa-play-circle play-green" : "fa fa-play-circle mid-gray" %>"></i>
          <% if event.is_expired %>
            <em class="expired">expired</em>
          <% end %>
        <%= link_to event.title, event_path(event) %> <span class="event_date"><%= event.session_start.strftime("%b %e, %Y") %></span></p>
      <% end %>
      <% if current_learner && (current_learner.id == @learner.id || @learner.public_watched_events?) %>
      <p class="view_all"><%= link_to_unless_current "View all", watched_history_learner_path(@learner), :class => "muted" %></p>
      <% end %>
    <% end %>
  <% else %>
    <div class="not_sharing">
    <p>
      Watched events are not being shared.
      <% if current_learner && current_learner.id == @learner.id %>
        <%= link_to 'change', settings_privacy_path %>
      <% end %>
    </p>
    </div>
    <br class="clearing"/>
  <% end %>
</div>

<div class="span4">
  <h2>Following</h2>
  <% if @learner.public_bookmarked_events? %>
    <% if @bookmarked_events.length == 0 %>
      <p>No events followed yet</p>
    <% else %>

    <% @bookmarked_events.each do |event| %>
        <p>
          <i class="<%= (event.recording.present?) ? "fa fa-play-circle play-green" : "fa fa-play-circle mid-gray" %>"></i>
        <% if event.is_expired %>
          <em class="expired">expired</em>
        <% end %>
        <%= link_to event.title, event_path(event) %> <span class="event_date"><%= event.session_start.strftime("%b %e, %Y") %></span>
          <% if event.is_online_session? and event.session_start >= Time.zone.now && event.session_start < 14.days.from_now -%>
            <span class="coming_soon">Coming up soon!</span>
          <% end %></p>
    <% end %>

    <% if current_learner && (current_learner.id == @learner.id || @learner.public_bookmarked_events?) %>
    <p class="view_all"><%= link_to_unless_current "View all", bookmarked_history_learner_path(@learner), :class => "muted" %></p>
    <% end %>

    <% end %>
  <% else %>
    <div class="not_sharing">
    <p>
      Followed events are not being shared.
      <% if current_learner && current_learner.id == @learner.id %>
        <%= link_to 'change', settings_privacy_path %>
      <% end %>
    </p>
    </div>
  <% end %>

  <%- if !@presented_conferences.blank? or !@attended_conferences.blank? -%>
  <h2>Conferences</h3>
    <%- @presented_conferences.each do |conf| -%>
      <%- if conf.concluded? %>
        Presented at
      <%- else -%>
        Presenting at
      <%- end -%>
      <%= link_to(conf.name, learner_conference_path(:id => conf.hashtag, :learner => @learner.id)) %>
    <%- end -%>

    <%- (@attended_conferences - @presented_conferences).each do |conf| -%>
      <%- if conf.concluded? %>
        Attended
      <%- else -%>
        Attending
      <%- end -%>
      <%= link_to(conf.name, learner_conference_path(:id => conf.hashtag, :learner => @learner.id)) %>
    <%- end -%>
  <%- end -%>

</div>



<div class="span3">



  <h2>Learning Plans</h2>

  <div class="learning_section">
  <h3>Currently Learning</h3>
  <% if @learner.portfolio_setting.present? && !@learner.portfolio_setting.currently_learning.blank? %>
    <p><%= @learner.portfolio_setting.currently_learning %></p>
  <% else %>
    <div class="learning_plan_empty">
      <p>This hasn't been updated yet</p>
      <% if current_learner && (current_learner.id == @learner.id) %>
        <%= link_to 'Update your learning profile', settings_learning_profile_path %>
      <% end %>
    </div>
  <% end %>
  </div>

  <div class="learning_section">
  <h3>Learning Plan</h3>
  <% if @learner.portfolio_setting.present? && !@learner.portfolio_setting.learning_plan.blank? %>
    <p><%= @learner.portfolio_setting.learning_plan %></p>
  <% else %>
    <div class="learning_plan_empty">
      <p>This hasn't been updated yet</p>
      <% if current_learner && (current_learner.id == @learner.id) %>
        <%= link_to 'Update your learning profile', settings_learning_profile_path %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>

<br class="clearing" />

  <% if current_learner && (current_learner.id != @learner.id) && !@learner.is_blocked %>
      <div id="account_block">
        <%= button_to 'Block and report this person\'s account', block_learner_path(@learner.id), :method => :post, :confirm => "Block and report this person's account?", :class => "btn" %>
      </div>
  <% end %>
