<% @page_title = @learner.name + " Learning Portfolio" %>

<div id="learner_info">
  <h1><%= @learner.name %></h1>
  <p>short one-line bio. need to add this to settings?</p>
  <img class="avatar" />
  <%- if current_learner && current_learner.id == @learner.id -%>
    <%= link_to "View your Learning History", learning_history_learner_path(@learner.id) %>
  <%- end -%>
</div>

<br class="clearing" />
<div class="pd_events" id="col_one_of_three">
  <h1>PD Events</h1>
  
  <h2>Presented</h2>
  <% if @presented_events.length == 0 %>
    <p>No events presented yet<p>
  <% else %>
    <% @presented_events.each do |event| %>
      <p><%= link_to event.title, event_path(event) %></p>
    <% end %>
  <% end %>
  
  <h2>Attended</h2>
  <% if @attended_events.length == 0 %>
    <p>No events attended yet<p>
  <% else %>
    <% @attended_events.each do |event| %>
      <p><%= link_to event.title, event_path(event) %></p>
    <% end %>
  <% end %>
  
  <h2>Watched</h2>
  <% if @watched_events.length == 0 %>
    <p>No events watched yet<p>
  <% else %>
    <% @watched_events.each do |event| %>
      <p><%= link_to event.title, event_path(event) %></p>
    <% end %>
  <% end %>
</div>

<div class="bookmarks" id="col_two_of_three">
  <h2>Bookmarks</h2>
  <% if @bookmarked_events.length == 0 %>
    <p>No events bookmarked yet</p>
  <% end %>
  
  <% @bookmarked_events.each do |event| %>
    <% if event.session_start >= Time.zone.now %>
      <div class="event upcoming">
        <p><%= link_to event.title, event_path(event) %></p>
        <div class="calendarblock">
          <span class="month"><%= event.session_start.strftime("%b") %></span>
          <span class="date"><%= event.session_start.strftime("%d") %></span>
        </div>
      </div>
    <% else %>
      <div class="event past">
        <p><%= link_to event.title, event_path(event) %></p>
        <% if event.recording.present? %>
          <p class="recording_available mini">
        <% else %>
          <p class="no_recording_available mini">
        <% end %>
        <%= event.session_start.strftime("%b, %d") %></p>
      </div>
    <% end %>
  <% end %>
      
  <p><%= link_to "view all" %></p>
</div>

<div id="col_three_of_three" style="display:none;">
  <h2>Learning Plans</h2>
  
  <h3>Currently Learning</h3>
  <ul>
    <li>Google Analytics</li>
    <li>Python</li>
  </ul>
  
  <h3>Learning Overview</h3>
  <p>Lorem ipsum...</p>
</div>
