<style type="text/css" media="screen">
.learn-widget-wrapper {background:#fff; padding:20px; width:<%= @width %>px; border:2px solid #ccc; margin:0 0 20px;}
.learn-widget-event-date {margin-bottom:0;}
.learn-widget-event-title {margin-top:0;}
.learn-widget-dev {background:#FFFF6D; padding:.5em;}

<% if (@event_type == "recent" && @showdate_on_past_events == false) %>
.learn-widget-event-date {display:none;}
<% end %>
</style>

<div id="learn-widget-hook" class="learn-widget-wrapper <%= @event_type %>" data-widget-key="<%= @widget_key %>" data-widget-params="<%= @widget_params %>">

  <%- if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>
  <p class="learn-widget-dev">This is a <strong>TEST</strong> widget coming from the  <strong>AaE <%= Settings.app_location.upcase %></strong> site. This should ONLY be used for TESTING purposes.</p>
  <% end %>

  <h3 class="learn-widget-header-general"><%= @generic_title %></h3>
  <h3 class="learn-widget-header-specific"><%= @specific_title %></h3>

  <% if @event_list.length == 0 %>
  <h3 class="learn-widget-no-matches">There are no events at this time.</h3>
  <p class="learn-widget-see-more"><%= link_to 'Visit Learn', root_url %></p>
  <% else %>
  <%= get_event_links_and_times(@event_list) %>
  <p class="learn-widget-see-more"><%= link_to 'See More', @path_to_upcoming_events %></p>
  <% end %>
</div>
