<%= form_tag(url_for(controller: 'data', action: params[:action], page: params[:page]), {method: 'get', class: 'form-stacked'}) do -%>
  <fieldset>
      <p>
      <%= label_tag :start_date, 'Start Date' %>
      <%= text_field_tag 'start_date',@start_date,{class: 'date_filter', :size => nil} %>
      </p>

      <p>
      <%= label_tag :end_date, 'End Date' %>
      <%= text_field_tag 'end_date',@end_date,{class: 'date_filter', :size => nil} %>
      </p>

      <p>
      <%= label_tag :tag_tokens, 'Tags' %>
      <%= text_field_tag 'tag_tokens', nil, "data-pre" => @tag_token_names.to_json %>
      </p>
  </fieldset>
  <%= submit_tag "Filter", {:name => nil, :id => 'filter-submit', :class => 'btn btn-default btn-primary'} %>
<%- end -%>

<script class="code" type="text/javascript">
  $('.date_filter').datepicker({
   dateFormat: 'yy-mm-dd'
  });

  $(function() {
    $("#tag_tokens").tokenInput("/data/tags.json", {
      crossDomain: false,
      prePopulate: $("#tag_tokens").data("pre"),
      theme: "facebook"
    });
});
</script>
