<div>
<% if @activity.count > 0 %>

  <table class="zebra-striped">
    <% @activity.each do |activity| %>
      <tr> 
        <td><%= activity.created_at %></td>
        <td><%= link_to_learner(activity.learner) %></td>
        <td><%= activity.loggable.description %></td>
        <td><%= link_to(Event.find_by_id(activity.loggable.event_id).title, event_path(activity.loggable.event_id)) %></td>
      </tr>
    <% end %>
  <table>
  
  <p>Displaying <strong><%= @activity.offset + 1 %>-<%= @activity.offset + @activity.length %> of <%= @activity.total_entries %></strong></p>
  <%= will_paginate @activity %>
<% else %>
  <div class="noevents">
  <h3>No activity at this time</h3>
  </div>
<% end %>
</div>