<%= render(partial: 'navtabs') -%>
<div>
<% if @activity.count > 0 %>

  <table class="table table-striped activity">
    <% @activity.each do |activity| %>
      <tr> 
        <td><%= time_ago_in_words(activity.created_at) %> ago
        <small><%= activity.created_at %></small></td>
        <td><%= link_to_learner(activity.learner) %></td>
        <td><%= activity.loggable.description %></td>
        <td><%= link_to(Event.find_by_id(activity.loggable.event_id).title, event_path(activity.loggable.event_id)) %></td>
      </tr>
    <% end %>
  </table>

  <p>Displaying <strong><%= @activity.offset_value + 1 %>-<%= @activity.offset_value + @activity.length %> of <%= @activity.total_count %></strong>
  
  <%= paginate @activity %>
<% else %>
  <div class="noevents">
  <h3>No activity at this time</h3>
  </div>
<% end %>
</div>