<%= render(partial: 'navtabs') -%>
<h2>Event Statistics</h2>
<%= render(partial: 'date_form') -%>
<%- if defined?(@events.total_count) && @events.total_count > 0 -%>
<p id="csv"><%= link_to('Download a list of these results (csv)',:action => 'events', :download => 'csv', :start_date => @start_date, :end_date => @end_date) %> </p>
<%= pagination_counts(@events) %>  
<%= paginate(@events) %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Presenters</th>
      <th>Title</th>
      <th>Tags</th>
      <th>Recording</th>
      <th>Length</th>
      <th>Bookmarked</th>
      <th>Attended</th>
      <th>Watched</th>
      <th>Voters</th>
      <th>Commentators</th>
    </tr>
  </thead>
  <tbody>
    <%- @events.each do |event| -%>
    <tr>
      <td>
        <%= (event.is_canceled?) ? "<span class=\"label label-inverse label-large\">canceled</span>".html_safe : "" %>
        <%= (event.is_expired?) ? "<span class=\"label label-important label-large\">expired</span>".html_safe : "" %>
        <%= event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") %>
      </td>
      <td><%= display_presenters(event.presenters) %></td>
      <td><%= link_to event.title, event_path(event) %></td>
      <td><%= display_tags(event.tags) %></td>
      <td><%= (event.has_recording?) ? link_to("link", event.recording) : "n/a" %></td>
      <td><%= event.session_length %></td> 
      <td><%= event.bookmarked.count %></td>
      <td><%= event.attendees.count %></td>
      <td><%= event.watched.count %></td>
      <td><%= event.raters.count %></td>
      <td><%= event.commentators.count %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
<%- else -%>
<div class="noevents">
<h3>No events for the specified date range</h3>
</div>
<%- end -%>
