<div class="span12">
<%= render(partial: 'navtabs') -%>
<h2>Event Statistics (<%= DateTime.parse(@start_date).strftime('%b %d, %Y') %> - <%= DateTime.parse(@end_date).strftime('%b %d, %Y') %>)</h2>



<%= render(partial: 'date_form') -%>
<%- if defined?(@events.total_count) && @events.total_count > 0 -%>
  <% if params[:tags].blank? %>
    <p id="csv"><%= link_to('Download a list of these results (csv)',:action => 'events', :download => 'csv', :start_date => @start_date, :end_date => @end_date) %> </p>
  <% else %>
    <p id="csv"><%= link_to('Download a list of these results (csv)',:action => 'events', :download => 'csv', :start_date => @start_date, :end_date => @end_date, :tags => params[:tags]) %> </p>
  <% end %>
<%= pagination_counts(@events) %>  
<%= paginate(@events) %>
<table class="table table-striped sortable">
  <thead>
    <tr>
      <th><%= sortable "session_start", "Date/Time", @start_date, @end_date %></th>
      <th>Presenters</th>
      <th><%= sortable "title", "Title", @start_date, @end_date %></th>
      <th>Tags</th>
      <th><%= sortable "recording", "Recording", @start_date, @end_date %></th>
      <th><%= sortable "session_length", "Length", @start_date, @end_date %></th>
      <th><%= sortable "bookmarks_count", "Bookmarked", @start_date, @end_date %></th>
      <th><%= sortable "attended_count", "Attended", @start_date, @end_date %></th>
      <th><%= sortable "watchers_count", "Watched", @start_date, @end_date %></th>
      <th>Voters</th>
      <th>Commentators</th>
    </tr>
  </thead>
  <tbody>
    <%- @events.each do |event| -%>
    <tr>
      <td>
        <%= (event.is_canceled?) ? "<span class=\"label label-inverse label-large\">canceled</span>".html_safe : "" %>
        <%= (event.is_expired?) ? "<span class=\"label label-important label-large\">expired</span>".html_safe : "" %>
        <%= event.session_start.strftime("%l:%M %p, %B %e, %Y %Z") %>
      </td>
      <td><%= display_presenters(event.presenters) %></td>
      <td><%= link_to event.title, event_path(event) %></td>
      <td><%= display_tags(event.tags) %></td>
      <td><%= (event.has_recording?) ? link_to("link", event.recording) : "n/a" %></td>
      <td><%= event.session_length %></td> 
      <td><%= event.bookmarked.count %></td>
      <td><%= event.attendees.count %></td>
      <td><%= event.watched.count %></td>
      <td><%= event.raters.count %></td>
      <td><%= event.commentators.count %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
<%- else -%>
<div class="noevents">
<h3>No events for the specified date range</h3>
</div>
<%- end -%>
</div>
