<!DOCTYPE html>

<html style="margin: 0; padding: 0;">

<head>
  <title>
    There's Been a Change to One of Your Events
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <style type="text/css">
  body {margin:0 auto; padding:10px; background:#f5f5f5;}
  #wrapper {
    -webkit-box-shadow: rgba(0,0,0,.4) 0 3px 10px;
    margin:20px;
    -webkit-border-radius: 10px;
    background:#fff;
    width:599px;
  }
	a:hover { text-decoration: none !important; }
	h1 {color: #d98837 !important; font: normal 30px Georgia, serif; margin: 0 0 0 10px; padding: 0; line-height: 40px;}
	tr.tagline  {background:#000; color:#fff; padding:10px;}
	tr.demotagline td  {background:#FF0; color:#000; padding:10px; font: normal 20px Arial, Verdana, sans-serif; text-align:center;}
	tr.tagline td  {background:#000; color:#fff; padding:10px; font: normal 20px Arial, Verdana, sans-serif;}
	tr.options  {background:#585858; color:#fff; padding:10px;}
	tr.options td  {background:#585858; color:#ddd; padding:5px 9px;}
	tr.options td a {color:#aaa; padding:6px; font: normal 14px  Arial, Verdana, sans-serif; text-decoration:none;}
	tr.options td a:hover {color:#fff;}	
	tr.date td {font: normal 12px  Arial, Verdana, sans-serif; text-align:center; padding:15px 10px; color:#888; text-transform:uppercase;}
	.article h3 {font: bold 24px  Georgia, serif; margin: 0;}
	.article p {font: normal 14px  Arial, sans-serif; margin: 20px 0 0; margin:0 0 0; line-height:18px;}
	.article td {padding:10px;}
	.footer td {padding:10px;}
	table.footer {margin:0 0 30px;}
	table.footer p {color:#888; font: normal 13px  Arial, sans-serif;}
	table.footer tr.options td {color:#888; font: normal 13px  Arial, sans-serif; background:#fff; padding:0 5px;}
	table.footer tr.options td a {color:#0069D6; font: normal 13px  Arial, sans-serif; background:#fff;}
	td.footer {padding-top:1em;}
	#learn_logo {height: 100px;}
	.bgcolor {background:#fff;}
	#reminder_title {font: bold 20px Arial, Verdana, sans-serif; padding:1.5em 0 .75em;}
	#reminder_title a {color:#000; text-decoration:none;}
	#reminder_title span a, #reminder_title span  {color:#555; font-weight:normal;}
	#event_start_time {font: normal 20px Arial, Verdana, sans-serif; padding:.65em; background:#e5e5e5;}
	#event_start_time strong {font-size:24px;}
	#event_start_time a {color:#000; text-decoration:none;}
	#button {background:#e5e5e5; padding:10px;}
	#button a {color:#0069D6; padding:.5em 0; text-decoration:none; font: bold 22px Arial, Verdana, sans-serif; display:block;}
	#reminder_description {padding-top:1.5em;}
	</style>
	<%= stylesheet_link_tag("#{ssl_root_url}email/mobile.css") %>
</head>
<body>


<div id="wrapper">
<table cellpadding="0" cellspacing="0" border="0" align="center" width="599">
  <%- if Settings.app_location != 'production' -%>
    <tr class="demotagline">
      <td>This email is being sent from a demonstration install of Learn. Please feel free to ignore this test email.</td>
    </tr>
  <%- end -%>
  <tr>
    <th align="left" class="bgcolor">
      <%- logo_url = @mailer_cache.blank? ? "#{ssl_root_url}assets/logo_small.png" : "#{ssl_webmail_logo}" -%>
      <h1 id="learn_logo"><%= image_tag(logo_url, alt: "Learn") %></h1>      
    </th>
  </tr>
  <tr class="tagline">
    <td>There's Been a Change to One of Your Events</td>
  </tr>
  <tr class="options">
    <td>
      <%- if @mailer_cache -%>
        <%= link_to('View in a browser', webmail_view_url(hashvalue: @mailer_cache.hashvalue)) %>
      <%- else -%>
        <a href="">View in a browser</a> 
      <%- end -%>
      <%= link_to "Unsubscribe", settings_notifications_url() %>
    </td>
  </tr>
  
  <tr><td>
  
     <table cellpadding="0" cellspacing="0" border="0" align="center" width="500">
        <tr>
          <td id="reminder_title">Someone edited your event: <br/><span>"<%= link_to(@event.title, event_url(@event.id)) -%>"</span></td>
        </tr>
        <tr>
          <td id="button">
                <table cellpadding="0" cellspacing="0" border="0" align="left">
              <tr>
                <td><%= image_tag("#{ssl_root_url}assets/magnifying_glass.png", size: "60x60") %></td>
                <td><%= link_to("Take a peek and see what changed", event_url(@event.id)) -%></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td id="reminder_description"><%= @event.description.html_safe %></td>
        </tr>
      </table>
  
  
  
  </td></tr>
    
  <tr>
    <td class="footer">
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="footer">
        <tr>
          <td class="bgcolor">
            <p>This email was sent to <%= @learner.email %>. You received this email because you signed up to receive event notifications from learn.extension.org.</p>
          </td>
        </tr>
        <tr class="options">
          <td>
            <%- if @mailer_cache -%>
              <%= link_to('View in a browser', webmail_view_url(hashvalue: @mailer_cache.hashvalue)) %>
            <%- else -%>
              <a href="">View in a browser</a> 
            <%- end -%>
            <%= link_to "Unsubscribe", settings_notifications_url() %>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
</table>
</div>  
</body>
</html>
