<!DOCTYPE html>
<html>
<head>
  <title>Learn</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"></meta>
</head>
<body id="<%= params[:controller] %>">

<div id="page_wrapper">
  <header class="masthead">
    <a href="/">
    <%= image_tag("logo_small.png", :size => "264x100",) %>
    <h1 class="texthide">Learn</h1>
    </a>
  </header>
  
  <%= yield %>

</div>

</body>
</html>
