<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= (@page_title) ? @page_title + " - eXtension Learn" : "eXtension Learn" %></title>
  <meta name="description" content="<%= @page_meta_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.min.js"></script><![endif]-->
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/html5.js"></script><![endif]-->
  <meta property="og:url" content="<%= request.protocol + request.host_with_port + request.fullpath %>" />
  <meta property="og:type" content="<%= (@page_type == "event") ? "event" : "website" %>" />
  <% if @page_type == "event" %>
    <meta property="event:start_time" content="<%= @event_start_time %>"> 
  <% end %>
  <meta property="og:title" content="<%= (@page_title) ? @page_title + " - eXtension Learn" : "eXtension Learn" %>" />
  <meta property="og:description" content="<%= @page_meta_description ? @page_meta_description : "eXtension Learn: Free access to cutting edge learning events" %>" />
  <meta property="og:image" content="<%= image_path("#{root_url}images/extension_logo.jpg") %>" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='<%= (request.ssl? ? 'https' : 'http' )%>://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>  
  
  <%- if @canonical_link -%>
    <link rel="canonical" href="<%= @canonical_link %>"/>
  <%- end -%>

  <% if @noindex %>
  <meta name="robots" content="noindex">
  <% end %>
</head>
<body id="<%= params[:controller].gsub('/','-') %>">
  
  <%- if current_learner and current_learner.is_extension_account? %>
    <script src="https://www.extension.org/javascripts/global_nav_internal.js" type="text/javascript"></script>
  <% else %>
    <script src="https://www.extension.org/javascripts/global_nav_public.js" type="text/javascript"></script>
  <% end %>

  <%- if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>
    <div id="app_location" class="demo">
      <p>You are viewing <strong>Learn <%= Settings.app_location %></strong>. The data on this demo site is regularly deleted for testing and development purposes. <strong><%= link_to("Visit the real Learn site", "http://learn.extension.org") -%></strong>.</p>
    </div>
  <% end %>
  
  <%- if current_learner and current_learner.is_admin? -%>
    <div id="adminnotice">
      <p>You are signed in with an admin account.</p>
    </div>
  <%- end -%>

<%= flash_notifications -%>

<div id="page_wrapper">  
  
  <div id="page">
  <header class="masthead">
    <%= link_to root_path() do %>
      <h1><%= image_tag("logo_small.png") %> <span>Learn</span></h1>
    <%- end -%>
  </header>
  
  <nav id="useractions">
    <ul>
      <%- if current_learner -%>
        <li><%= link_to_learner_avatar(current_learner, {image_size: :thumb}) -%> <%= link_to_learner(current_learner) %></li>
        <li><%= link_to "Activity", learning_history_path %></li>
        <li><%= link_to "Settings", settings_profile_path() %></li>
        <li><%= link_to('Logout', destroy_learner_session_path, :method => :delete) %></li>
      <%- else -%>
        <li class="signin"><%= link_to("Sign in", new_learner_session_path(:redirect_to => request.fullpath) )%></li>
      <%- end -%>
    </ul>
  </nav>
  
  <%= form_tag(search_events_path, {:method => :get, id: "searchform"}) do %>
  <p id="search">
    <%= text_field_tag 'q', params[:q], :size => 15 %>
    <%= submit_tag 'Search', :class => "btn" %>
  </p>
  <% end %>
  
  <div id="content_wrapper">
  <%= yield %>
  </div>


  
  <br class="clearing" />
  </div>
  <footer>
      <ul>
          <li><%= link_to("Contact Us", contact_us_path) %></li>
          <li><%= link_to("Privacy","http://www.extension.org/main/privacy")%></li>
          <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
      </ul>
  </footer>
</div>

<%= render(:partial => 'shared/googleanalytics') %>

<script class="code" type="text/javascript">
$(function() {
   $('#flash_notification').hide().delay(500).slideDown('slow', function() {
      $(this).delay(4000).fadeOut();
   });
   
   $("#flash_notification").live('click', function(){
       $(this).stop().fadeOut();;
   });
   
});
</script>

</body>
</html>