<!DOCTYPE html>
<html>
<head>
  <title>Learn</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"></meta>
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  
</head>
<body id="<%= params[:controller].gsub('/','-') %>">

<div id="page_wrapper">
  <div id="page">
  <header class="masthead">
    <a href="/">
    <%= image_tag("logo_small.png", :size => "264x100",) %>
    <h1 class="texthide">Learn</h1>
    </a>
  </header>
  
  <nav id="useractions">
    <ul>
      <%- if current_learner -%>
        <li><%= link_to current_learner.name, portfolio_learner_path(current_learner.id) %></li>
        <li><%= link_to "settings" %></li>
        <li><%= link_to('Logout', destroy_learner_session_path, :method => :delete) %></li>
      <%- else -%>
        <li class="signin"><%= link_to("Sign in", new_learner_session_path(:redirect_to => request.fullpath), :class => "btn primary" )%></li>
      <%- end -%>
    </ul>
  </nav>
  
  <div id="content_wrapper">
  <%= yield %>
  </div>

  <br class="clearing" />
  </div>
</div>

</body>
</html>
