<!DOCTYPE html>
<html>
<head>
  <title>Learn</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
  <%= javascript_include_tag "/jqplot/jquery.jqplot.min.js" %>
  <%= javascript_include_tag "/jqplot/plugins/jqplot.pieRenderer.min.js" %>
  <%= javascript_include_tag "/jqplot/plugins/jqplot.barRenderer.min.js" %>
  <%= javascript_include_tag "/jqplot/plugins/jqplot.categoryAxisRenderer.min.js" %>
  <%= stylesheet_link_tag "/jqplot/jquery.jqplot.css" %>
  
</head>
<body>

<%= yield %>

</body>
</html>
