<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= (@page_title) ? @page_title + " - eXtension Learn" : "eXtension Learn" %></title>
  <meta name="description" content="<%= @page_meta_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.min.js"></script><![endif]-->
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/html5.js"></script><![endif]-->
  <meta property="og:url" content="<%= request.protocol + request.host_with_port + request.fullpath %>" />
  <meta property="og:type" content="<%= (@page_type == "event") ? "event" : "website" %>" />
  <% if @page_type == "event" %>
    <meta property="event:start_time" content="<%= @event_start_time %>">
  <% end %>
  <meta property="og:title" content="<%= (@page_title) ? @page_title + " - eXtension Learn" : "eXtension Learn" %>" />
  <meta property="og:description" content="<%= @page_meta_description ? @page_meta_description : "eXtension Learn: Free access to cutting edge learning events" %>" />

  <meta property="og:image" content="<%= image_path("#{root_url}images/extension_logo.jpg") %>" />
  <% if @show_og_event_images %>
    <% if @event.cover_image.present? %>
    <meta property="og:image" content="<%= request.protocol + request.host_with_port + @event.cover_image_url(:large_social) %>"/>
    <% end %>
  <% end %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="<%= (@page_title) ? @page_title + " - eXtension Learn" : "eXtension Learn" %>">
  <meta name="twitter:description" content="<%= @page_meta_description ? @page_meta_description : "eXtension Learn: Free access to cutting edge learning events" %>">
  <meta name="twitter:image:src" content="<%= image_path("#{root_url}images/extension_logo.jpg") %>">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='<%= (request.ssl? ? 'https' : 'http' )%>://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

  <%- if @canonical_link -%>
    <link rel="canonical" href="<%= @canonical_link %>"/>
  <%- end -%>

  <% if @noindex %>
  <meta name="robots" content="noindex">
  <% end %>
  <%= render(:partial => 'shared/googleanalytics') %>
</head>
<body id="<%= params[:controller].gsub('/','-') %>">

  <div class="nonmobile hidden-xs">
  <%- if current_learner and current_learner.is_extension_account? %>
    <script src="https://www.extension.org/javascripts/global_nav_internal.js" type="text/javascript"></script>
  <% else %>
    <script src="https://www.extension.org/javascripts/global_nav_public.js" type="text/javascript"></script>
  <% end %>
  </div>

  <%- if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>
    <div id="app_location" class="demo">
      <p>You are viewing <strong>Learn <%= Settings.app_location %></strong>. The data on this dev site is regularly deleted for testing and development purposes. <strong><%= link_to("Visit the real Learn site", "http://learn.extension.org") -%></strong>.</p>
    </div>
  <% end %>
  <%- if current_learner and current_learner.is_admin? -%>
    <div id="adminnotice">
      <p>You are signed in with an admin account.</p>
    </div>
  <%- end -%>

  <%= flash_notifications -%>

  <%- if current_learner -%>
    <nav class="user-actions">
      <ul class="user-actions-list">
        <li><%= link_to_learner_avatar(current_learner, {image_size: :thumb}) -%> <span class="hidden-sm hidden-xs"><%= link_to_learner(current_learner) %></span></li>
        <li><%= link_to "Activity", learning_history_path %></li>
        <li><%= link_to "Settings", settings_profile_path() %></li>
        <li><%= link_to('Logout', destroy_learner_session_path, :method => :delete) %></li>
      </ul>
      <br class="clearing" />
    </nav>
  <%- end -%>

  <div class="container">

    <div class="navbar masthead">

      <span class="navbar-toggle btn btn-default mobile-menu-search-btn" data-toggle="collapse" data-target="#app-navbar"><i class='fa fa-search'></i> <i class='fa fa-bars'></i></span>
      <a class="navbar-brand" href="/"><%= image_tag "learn_logo_small.png", :alt => "eXtension" %></a>

      <div id="app-navbar" class="navbar-collapse collapse">

        <%= form_tag(search_all_path, {:method => :get, id: "searchform", class: "navbar-form form-search pull-right"}) do %>
        <div class="input-group">
          <%= text_field_tag 'q', params[:q], :class => "form-control col-md-2", :placeholder => "Search", :id => "search_field" %>
          <span class="input-group-btn">
            <input type="submit" value="Go" class="btn btn-default" />
          </span>
        </div>
        <% end %>

        <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'Upcoming', upcoming_events_path() %></li>
          <li><%= link_to 'Recent', recent_events_path() %></li>
          <%- if !current_learner -%>
          <li><%= link_to("Sign in", new_learner_session_path(:redirect_to => request.fullpath) )%></li>
          <% end %>
        </ul>

        <div class="global-nav-mobile visible-xs">
          <% if current_learner and current_learner.is_extension_account? %>
          <script src="https://www.extension.org/javascripts/global_nav_internal.js" type="text/javascript"></script>
          <% else %>
          <script src="https://www.extension.org/javascripts/global_nav_public.js" type="text/javascript"></script>
          <% end %>
        </div>

      </div><!--/.navbar-collapse -->

    </div>


  <div class="row">
  <%= yield %>
  </div>

  <hr class="noprint" />

  <footer>
    <span class="extension_icon_512 pull-left noprint"><img id="extension_logo" src="/assets/extension_logo.jpg" alt="eXtension" /></span>
    <ul class="footer-links list-inline noprint">
      <li><%= link_to("Contact Us", contact_us_path) %></li>
      <li><%= link_to("Privacy","http://www.extension.org/main/privacy")%></li>
      <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
    </ul>
    <p>&copy; <%= Time.now.utc.year %> eXtension. All rights reserved.</p>
  </footer>
</div>


<script class="code" type="text/javascript">
$(function() {
   $('#flash_notification').hide().delay(500).slideDown('slow', function() {
      $(this).delay(4000).fadeOut();
   });

   $("#flash_notification").live('click', function(){
       $(this).stop().fadeOut();;
   });

});

//set event times for non-auth users
var tz = jstz.determine();
$.cookie('system_timezone', tz.name(), { path: '/' });

</script>

</body>
</html>
