<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
  <%= render(:partial => 'shared/googleanalytics') %>
  </head>
  <body>


    <div class="container">
      <div id="flash">
        <%= render(:partial => 'shared/flashmessages') %>
      </div>

      <%= yield %>
    
    </div>    
  </body>
</html>
