<!DOCTYPE html>
<html>
<head>
  <title><%= (@page_title) ? "eXtension Learn: " + @page_title : "eXtension Learn" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"></meta>
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  
</head>
<body id="<%= params[:controller].gsub('/','-') %>">

<%= flash_notifications -%>

<div id="page_wrapper">
  <div id="page">
    <header class="masthead">
      <%= link_to root_path() do %>
        <h1>Learn</h1>
      <%- end -%>
    </header>
  
  <nav id="useractions">
    <ul>
      <%- if current_learner -%>
        <li><%= link_to_learner(current_learner) %></li>
        <li><%= link_to "Settings", settings_profile_path() %></li>
        <li><%= link_to('Logout', destroy_learner_session_path, :method => :delete) %></li>
      <%- end -%>
    </ul>
  </nav>
  
  <div id="content_wrapper">
  <%= yield %>
  </div>

  <br class="clearing" />
  </div>
</div>

<%= render(:partial => 'home/googleanalytics') %>

</body>
</html>
